<!DOCTYPE html>
<html>
{include file="common/index/head.html"}

        </div>
    </div>
</div>
        <script type="text/javascript" src="__JS__/cart.js"></script>

        <div class="section">
            <div class="wd-1200 ma">
                <p class="ht-50 lh-50">
                    <span class="fl fs-18">我的购物车</span>
                    <span class="fr cl-9">温馨提示:1.购物车中的商品无法保留库存，请您尽快完成购买。2.商品的价格和库存将以订单提交时为准哦。</span>
                    <div class="cb"></div>
                </p>
                {if empty($Think.session.shopcar)}
                <div class="ta-ct pd-20000">
                    <span class="icon-zzzzzcart-line cl-9 fs-60">&#xe977;</span>
                    <div class="fs-18 pd-2000">购物车还是空滴</div>
                    <div class="mt-30 fs-18 cl-f">
                                        <a class="bd-1-bl-d bc-bl pd-1050 mr-10 cl-f" href="{:url('/index/index/login')}">登录</a>
                                        <a class="cl-bl-l bd-1-bl-d bc-bl-l pd-1050" href="{:url('/index')}">继续逛</a>
                    </div>
                </div>

                {else}
                <table width="100%" class="total-box tablecart">
                    <thead class="thead-1">
                        <tr>
                            <td align="center" width="40" class="pr fs-15">
                                <input type="checkbox" class="choose choose-total choose-total product pafull-box op-0">
                                <span class="icon-checkbox-line cl-c">&#xe914;</span>
                            </td>
                            <td width="40">全选</td>
                            <td width="450">商品信息</td>
                            <td align="center" width="160">单价</td>
                            <td align="center" width="120">数量</td>
                            <td align="center"></td>
                            <td align="center" width="200">金额(元)</td>
                            <td>操作</td>
                        </tr>
                    </thead>
                </table>
                <table width="100%" class="choose-container ta-lf tablecart">
                    <tbody class="choose-box">
                        <tr class="lh-50 ht-50 fs-16 ">
                            <td align="center" width="40" class="pr fs-15">
                                <input type="checkbox" class="choose choose-all product pafull-box zi-1 op-0">
                                <span class="icon-checkbox-line cl-c">&#xe914;</span>
                            </td>
                            <td colspan="7" align="left">自营&nbsp;&nbsp;运费：<span name="postageinfo" data-poatage="59" data-poatagerule="5">5.00</span></td>
                        </tr>
                        <tr id="ssid_1">
                            <td colspan="8" class="fs-16 lh-50 pd-0010">图书仓</td>
                        </tr>
                        {foreach $shopcar as $v}
                        <tr class="goods-box" id="goods_id_100930872">

                            <td colspan="8">
                                <div class="typecart-2">
                                    <ul class="bb-1-e8 delete-box wd-1200 pd-0500">
                                        <li class="pr ta-ct wd-80 ht-80 fl fs-15">
                                            <input type="checkbox" data-free="" data-id="{$v[0]}" data-economize="13.26" data-multi-id="119" data-goods-ssid="1" class="choose choose-child product pafull-box zi-1 op-0">
                                            <span class="icon-checkbox-line cl-c">&#xe914;</span>
                                        </li>
                                        <li class="wd-450 ht-100 fl">
                                            <div class="fl wd-100">
                                                <img src="/uploads/{$v[2]['good_pic']}" height="70" width="50">
                                            </div>
                                            <div class="fr wd-300 ">
                                                <p class="ht-60 lh-20 oh mt-8">{$v[2]['good_name']}</p>
                                                <p class="ht-25 lh-25 oh mt-10"></p>
                                            </div>
                                            <div class="cb"></div>
                                        </li>
                                        <li class="ta-ct wd-160 fl lh-30">
                                            <del class="cl-9 mt-10">¥{$v[2]['good_price']}</del>
                                            <p class="fs-16">¥<span class="money">{$v[2]['good_showprice']}</span></p>
                                            <!-- <label class="cl-bl-l bd-1-bl-d bc-bl-l pd-0208 br-2">卖家促销<span class="icon-down-line ml-5 fs-13">&#xe91e;</span></label> -->
                                        </li>
                                        <li class="ta-ct wd-120 fl">
                                            <div class="count-box mt-35">
                                                <div class="count-sub fl cl-c" data-price="{$v[2]['good_showprice']}" data-id="{$v[0]}" onclick="Sub(this);">-</div>
                                                <input class="text fl number-box" type="tel" data-id="{$v[0]}" data-count="16125" data-max="16125" value="{$v[1]}" onkeyup="input_Change(this);">
                                                <div class="count-add fr" data-price="{$v[2]['good_showprice']}" data-id="{$v[0]}" onclick="Add(this);">+</div>
                                                <div class="cb"></div>
                                            </div>
                                        </li>
                                        <li>
                                        </li>
                                        <li class="fs-16  cl-rd ta-ct wd-200 fl mt-35">¥<span>{$v[2]['good_showprice']}</span></li>
                                        <div class="cb"></div>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        {/foreach}
                    </tbody>
                </table>
                <table width="100%" class="mt-10 total-box tablecart">
                    <tfoot>
                        <tr>
                            <td align="center" width="40" class="pr fs-15">
                                <input type="checkbox" class="choose choose-total product pafull-box op-0">
                                <span class="icon-checkbox-line cl-c">&#xe914;</span>
                            </td>
                            <td>全选</td>
                            <td>
                                <label class="pd-0030 cl-9">已选<span class="pd-0010 amounts-box">0</span>件</label>
                                <span class="cp  fs-16 op-60 button-delete" onclick="deleteConfirm(this, 'all');">删除选中商品</span>
                            </td>
                            <td colspan="4" align="right" class="lh-30" width="550">
                                <p class="pd-0010">应付金额(不含运费): <label class="cl-rd">¥<span class="fs-22  money-box" id="moneyCount">0.00</span></label></p>
                                <p class="pd-0010 cl-6">商品合计 ¥<span class="money-box withpostage">0.00</span><span class="pd-0015">邮费：¥<span class="postage">0.00</span></span><!--您已从本次购买中<span class=" cl-21">节省了<span class="economize_num">0</span>元</span>--></p>
                            </td>
                            <td align="center">
                                <a class="fs-24  cl-f db bc-dg" href="javascript:void(0);" id="tobuy">去结算</a>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                {/if}
            </div>
        </div>

        <!-- 底部 -->

        <!-- 底部 -->
        {include file="common/index/footer.html"}

</body>
</html>
<script type="text/javascript">

    // 全选
    $('body').on('click', '.choose', function () {
        var _this = $(this),
                _type = 'checkbox',
                _bool = false;
        // 选择状态
        if (_this.hasClass('product')) check(_this, _type, _bool);
        getEconomize();
    });
    // 默认全选
    $(function () {

        $('.choose:checkbox').attr('checked', true);
        $('.choose.choose-total').trigger('click').off('click');

    });


    $("#tobuy").click(function () {

        var goods_ids = get_ids();

        if (!goods_ids) {
            alert('请选择要结算的商品!');
            return false;
        }
        var countMoney = $("#moneyCount").text();
        alert(countMoney);
        $.post(
                '{url:('confirm')}',
                {goods_ids:goods_ids},
                function (data) {
                    console.log(data);
                    /*if (data.status) {
                        window.location.href = 'http://www.bookuu.com/order/confirm.php';
                    } else {
                        if (data.info) {
                            window.location.href = data.info;
                        } else {
                            alert(data.message);
                        }
                    }*/
                }, 'json'
        );

        return false;
    });
    function get_ids() {
    var goods_ids = '';
    $('.choose-child').each(function () {
        if ($(this).prop("checked")) {
            goods_ids += parseInt($(this).data('id')) + ',';
        }
    });

    return goods_ids;
}
    function get_count() {
        var goods_ids = '';
        $('.choose-child').each(function () {
            if ($(this).prop("checked")) {
                goods_ids += parseInt($(this).data('id')) + ',';
            }
        });

        return goods_ids;
    }

function deleteConfirm(obj, type) {

    confirm(obj, '确定从购物车中删除该商品吗?', type, function (_res) {
        if (_res) {

            var goods_ids = '';
            if (type == 'all') {
                goods_ids = get_ids();
                //console.log(goods_ids);

            } else {
                return;
            }

            if (!goods_ids) {
                return;
            }

            $.post(
                '/index/books/removeCar',
                {goods_ids: goods_ids},
                function (data) {
                    console.log(data);
                    if (data.status) {
                        window.location.reload();
                    } else {
                        alert(data.message);
                    }
                }, 'json'
            );

        }
    });
}

function Sub(_this) {
    var _numBox = $(_this).parents('.count-box').find('.number-box'),
        _numVal = parseInt(_numBox.val()),
        _addBox = $(_this).parents('.count-box').find('.count-add'),
        _subBox = $(_this).parents('.count-box').find('.count-sub'),
        _amountsBox = $(_this).parents('.delete-box').find('.amounts-box');
    if (_numVal > 2) {
        _numVal--;
        _numBox.val(_numVal);
        _subBox.removeClass('cl-c');
    } else if (_numVal == 2) {
        _numVal--;
        _numBox.val(_numVal);
        _subBox.addClass('cl-c');
    } else {
        _subBox.addClass('cl-c');
        // alert('1');
    }
    _addBox.removeClass('cl-c');
    // 关联计数
    if (_amountsBox.length != 0) _amountsBox.text(_numVal);

    var price = $(_this).data('price');
    var total_price = (parseFloat(price) * _numVal).toFixed(2);
    $(_this).parent().parent().next().next().find('span').text(total_price);

    var id = $(_this).data('id');
    asyncChangeShoppingCartNumber(_numVal, id);

    // 统计已选商品金额和数量信息
    productChoosed();
    getEconomize();

}

function Add(_this) {
    var _numBox = $(_this).parents('.count-box').find('.number-box'),
        _numVal = parseInt(_numBox.val()),
        _subBox = $(_this).parents('.count-box').find('.count-sub'),
        _addBox = $(_this).parents('.count-box').find('.count-add'),
        _amountBox = $(_this).parents('.delete-box').find('.amount-box');

    var max_count = parseInt(_numBox.data('count'));
    var usable = parseInt(_numBox.data('max'));

    _numVal++;

    if (max_count < _numVal) {
        alert('只能购买' + max_count + '件商品');
        _numVal = max_count;
    }
    if (_numVal > usable) {
        _numVal = usable;
        _numBox.val(_numVal);
        _addBox.addClass('cl-c');
    } else {
        _numBox.val(_numVal);
        _addBox.removeClass('cl-c');
    }
    _subBox.removeClass('cl-c');
    // 关联计数
    if (_amountBox.length != 0) _amountBox.text(_numVal);

    var price = $(_this).data('price');
    var total_price = (parseFloat(price) * _numVal).toFixed(2);
    $(_this).parent().parent().next().next().find('span').text(total_price);

    var id = $(_this).data('id');

    asyncChangeShoppingCartNumber(_numVal, id);

    // 统计已选商品金额和数量信息
    productChoosed();
    getEconomize();
}

function getEconomize() {

    var flag = false;
    var economize = 0;
    $('.choose-child').each(function () {
        if ($(this).prop("checked")) {
            var munbox = parseInt($(this).parents('ul').find('.number-box').val());
            economize += (parseFloat($(this).data('economize')) * munbox);
            flag = true;
        }
    });

    if (flag) {
        $('#tobuy').removeClass('bc-dg').addClass('bc-rd-d');
    } else {
        $('#tobuy').removeClass('bc-rd-d').addClass('bc-dg');
    }
    //$('.economize_num').text(economize.toFixed(2));

    getpostage();
    getmulti();
}

function getpostage() {

    var total_money = $('.money-box').text();
    var _postage = 0;
    var _total_postage = 0;
    var total_postage = 0;

    $('.choose-container').each(function () {

        var _info = $(this).find('span[name=postageinfo]');
        var this_postage = _info.attr('data-poatage');
        var this_poatagerule = _info.attr('data-poatagerule');

        if (parseFloat(this_postage) == 0) {
            _postage = 0;
            _total_postage = 0;
        } else {
            var _total_price = 0;
            var is_free = 0;
            $(this).find('.choose-child').each(function () {
                if ($(this).prop("checked")) {
                    _total_price += parseFloat($(this).parents('.typecart-2').find('.money').text()) * parseInt($(this).parents('.typecart-2').find('.number-box').val());
                    if (is_free == 0 && parseInt($(this).data('free')) == 1) {
                        is_free = 1;
                    }
                }
            });

            if (is_free == 1) {
                _postage = 0;
                _total_postage = 0;
            } else {

                if (_total_price >= parseFloat(this_postage)) {
                    _postage = 0;
                    _total_postage = 0;
                } else {

                    if (_total_price == 0) {
                        _postage = parseFloat(this_poatagerule);
                        _total_postage = 0;

                    } else {

                        _postage = parseFloat(this_poatagerule);
                        _total_postage = parseFloat(this_poatagerule);
                    }

                }
            }
        }

        _info.text(_postage.toFixed(2));
        total_postage = parseFloat(total_postage) + _total_postage;
    });

    $('.withpostage').text((parseFloat(total_money) + parseFloat(total_postage)).toFixed(2));
    $('.postage').text(parseFloat(total_postage).toFixed(2));
}

function asyncChangeShoppingCartNumber(num, id) {

    $.post(
        '{:url('/index/books/changecount')}',
        {goods_id: id, count: num},
        function (data) {

            console.log(data);
/*
            if (data.status) {
                return true;
            } else {
                if(data.info){
                    window.location.href = data.info;
                }
                return false;
            }*/
        }, 'json'
    );
}

function input_Change(_this) {
    var _val = parseInt($(_this).val()),
        _addBox = $(_this).siblings('.count-add'),
        _money = $(_this).parents('.delete-box').find('.money'),
        _subBox = $(_this).siblings('.count-sub'),
        _max = $(_this).attr('data-max');

    console.log(_max);

    var goods_id = $(_this).data('id');

    if (!goods_id) {
        return;
    }

    // 负数和非int型，强制转换为1
    if (isNaN(_val) || _val <= 0) {
        _subBox.removeClass('cl-c').addClass('cl-c');
        _addBox.removeClass('cl-c');
        // alert('1');
        _val = 1;
    } else if (_val > Number(_max)) {
        _addBox.removeClass('cl-c').addClass('cl-c');
        _subBox.removeClass('cl-c');
        // alert('100');
        _val = _max;
    } else {
        _addBox.removeClass('cl-c');
        _subBox.removeClass('cl-c');
    }

    $(_this).val(_val);

    asyncChangeShoppingCartNumber(_val, goods_id);

    var total_price = (parseFloat(_money.text()) * _val).toFixed(2);
    $(_this).parent().parent().next().next().find('span').text(total_price);
    // 统计已选商品金额和数量信息
    productChoosed();
    getEconomize();
}

function getmulti() {

    $('.multi_box').remove();

    $('.multi_data').each(function () {

        var _this = $(this);
        var ssid = _this.data('multi-ssid'),
            total_money = 0,
            multi_id = _this.val(),
            multi_minprice = 0,
            multi_price = 0,
            multi_base_name = _this.data('multi-basename'),
            multi_array=new Array(),
            multi_baseid = _this.data('multi-baseid');

        $('.choose-child').each(function () {
            if ($(this).prop("checked")) {
                var $this = $(this);
                if ($this.data('multi-id') == multi_id && $this.data('goods-ssid') == ssid) {
                    var _money = parseFloat($this.parents('.delete-box').find('.money').text()) * parseInt($this.parents('.delete-box').find('.number-box').val());
                    total_money = total_money + _money;
                }
            }

            if ($(this).data('multi-id') == multi_id && $(this).data('goods-ssid') == ssid) {
                multi_array.push($(this).data('id'));
            }
        });

        if (total_money >= 0) {

            var html = '';
            var multi_arr = _this.data('multi-details');
            for (i = 0; i < multi_arr.length; i++) {
                if (total_money > parseFloat(multi_arr[i].price)) {
                    if (multi_minprice == 0) multi_minprice = parseFloat(multi_arr[i].price);
                    if (multi_price == 0 && parseInt(multi_baseid) == 5) multi_price = parseFloat(multi_arr[i].detail.money);
                    if (parseInt(multi_baseid) == 7) var multi_zpinfo = multi_arr[i].detail;
                    break;
                }
            }
            if (multi_minprice == 0) {
                multi_minprice = multi_arr[multi_arr.length - 1].price;
                if (parseInt(multi_baseid) == 5) multi_price = multi_arr[multi_arr.length - 1].detail.money;
                if (parseInt(multi_baseid) == 7) var multi_zpinfo = multi_arr[multi_arr.length - 1].detail;
            }
        }

    });

}

</script>