<!DOCTYPE html>
<html>
{include file="common/index/head.html"}
                <!-- 分类 -->
                <div class="nav-box">
                    <div class="type fl public">
                        <a target="_blank" class="db cl-f title" href="//www.bookuu.com/category.php"><span class="icon-type-line cl-f mr-10 pr tp-2">&#xe95d;</span>所有商品分类</a>

                        <!-- 导航 -->
                        <div class="wd-1200 ma pr">
                            <div class="menu-hover public">
                                <!-- 菜单 -->
                                <!-- 公共 菜单 展示页 -->
                                <div class="menu fl mouseenter-box">
                                    {include file="common/index/menu.html"}
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="nav fl">
                        <!--固定导航菜单-->
                        {include file="common/index/lead.html"}
                    </div>
                    <div class="cb"></div>
                </div>
            </div>
        </div>
    <script>
        // 滚动交互
        $(window).on('scroll', function(){
            var _scroll = $(window).scrollTop();
            if(_scroll >= 200 ){
                $('#search-container').addClass('active');
            }else{
                $('#search-container').removeClass('active');
            }
        });
        $(".tosearch").click(function(){
            var key = $(this).parent().find(".searchkey").val();
            if(key == ''){
                key = $(this).parent().find(".searchkey").attr('placeholder');
            }
            location.href = '//www.bookuu.com/search.php?k=' + key;
        });


        function getKeyMore(_associateBox,_key){

            console.log('开始请求',_key);
            //获取关联词
            $.ajax({
                type: "post",
                url:"/goods/search.php",
                data: {act:"getMoreKeys",keyword:_key},
                dataType: "json",
                success: function(data) {
                    if(data.length > 0){
                        _associateBox.empty();
                        var str = "";
                        for(var i=0;i<data.length;i++){
                            var search_url = '//www.bookuu.com/search.php?k=' + data[i].key;
                            str += '<li class="associate-content">'+
                                    '<a class="fl" href="'+search_url+'">'+data[i].akey+'</a>'+
                                    '<label class="fr delete"><span class="icon-close-line fr">&#xe919;</span></label>'+
                                    '<div class="cb"></div>'+
                                    '</li>';
                        }
                        _associateBox.append(str);
                    }
                }
            });
        }
        function getHistoryKeys(_associateBox,_key){
            console.log('历史记录',_key);
            //获取最近搜索
            $.ajax({
                type: "post",
                url:"/goods/search.php",
                data: {act:"getHistoryKeys",keyword:_key},
                dataType: "json",
                success: function(data) {
                    if(data.length > 0){
                        _associateBox.empty();
                        var str = '<li class="associate-title">'+
                                '<div class="fl text">最近搜索</div>'+
                                '<label class="fr delete all"><span class="icon-delete-line">&#xe91d;</span></label>'+
                                '<div class="cb"></div>'+
                                '</li>';
                        for(var i=0;i<data.length;i++){
                            var search_url = '//www.bookuu.com/search.php?k=' + data[i].key;
                            str += '<li class="associate-content">'+
                                    '<a class="fl" href="'+search_url+'">'+data[i].key+'</a>'+
                                    '<label class="fr delete"><span class="icon-close-line fr">&#xe919;</span></label>'+
                                    '<div class="cb"></div>'+
                                    '</li>';
                        }
                        _associateBox.append(str);
                    }
                }
            });
        }
        var timer1 = '';    //定时器1
        var timer2 = '';    //定时器2

        $('body').on('hover', '.associate-box li.associate-content', function(){
            $('.associate-box li.associate-content').removeClass('active');
            $(this).addClass('active');
        });

        //输入完成回车搜索
        $('body').on('keyup focus', '.search-box input', function(event){
            var e = event || window.event || arguments.callee.caller.arguments[0];


            var _this = $('.search-box input');
            var _inputId = _this.attr("id");
            var _key = _this.val();
            var _associateContainer = _this.parents('.associate-container');
            var _associateBox = _this.siblings('.associate-box');
            var _associateTitle = _associateBox.find('.associate-title');   //最近搜索
            var _associateLi = $('.associate-box li');
            var _associateLiActive = $('.associate-box li.active');
            // 键盘向上
            if( e && e.keyCode == 38 ){
                var _associateTitleLength = _associateTitle.length;
                var _associateContentLength = _associateLi.length;
                var _associateContentActiveLength = _associateLiActive.length;
                var _index = _associateLiActive.index();
                _associateLi.removeClass('active');
                _index = _index - 1;
                // 历史记录
                if( _associateTitleLength == 0 ){
                    // 第一次focuse
                    if( _index == -1 ) _index = _associateContentLength - 1;
                    if( _associateContentActiveLength == 0 ) _index = 0;
                }else{
                    // 第一次focuse
                    if( _index == 0 ) _index = _associateContentLength - 1;
                    if( _associateContentActiveLength == 0 ) _index = 1;

                }
                _associateLi.eq( _index ).addClass('active');
                _this.val( _associateLi.eq( _index ).find('a').text() );

                return false;
            }
            // 键盘向下
            if ( e && e.keyCode == 40 ){
                var _associateTitleLength = _associateTitle.length;
                var _associateContentLength = _associateLi.length;
                var _associateContentActiveLength = _associateLiActive.length;
                var _index = _associateLiActive.index();
                _associateLi.removeClass('active');
                _index = _index + 1;
                // 历史记录
                if( _associateTitleLength == 0 ){
                    if( _associateContentActiveLength == 0 || _index == _associateContentLength ) _index = 0;
                }else{
                    if( _associateContentActiveLength == 0 || _index == _associateContentLength ) _index = 1;
                }
                _associateLi.eq( _index ).addClass('active');
                _this.val( _associateLi.eq( _index ).find('a').text() );

                return false;
            }
            //清空
            _associateBox.empty();
            // 文字为空，显示搜索记录
            if( _key == '' ){
                //延迟xx
                if(timer2){
//                    console.log(22,timer2);
                    clearTimeout(timer2);
                    console.log('未结束',timer2);
                } else{
                    console.log('开始了');
                }
                timer2 = setTimeout(function(){getHistoryKeys(_associateBox, _key)},600);
                _associateBox.addClass('history');
            }else{
                //延迟xx
                if(timer1){
//                    console.log(11,timer1);
                    clearTimeout(timer1);
                    console.log('未结束',timer1);
                } else{
                    console.log('开始了');
                }
                timer1 = setTimeout(function(){getKeyMore(_associateBox, _key)},600);
                _associateBox.removeClass('history');
            }
            // 搜索出来数据不为空才显示出来
            _associateBox.css('display', 'block');
            // enter键
            if( e && e.keyCode == 13 ){
                if( _key == '' ){
                    _key = _this.attr('placeholder');
                    _this.val(_key);
                }
                location.href = '//www.bookuu.com/search.php?k=' + _key;
            }
        });
        $('.search-box input').on('blur', function(){
            blurFunc();
        });
        // 删除历史记录
        $('body').on('click', '.associate-box label.delete', function(){
            var _this = $(this);
            var _associateBox = _this.parents('.associate-box');
            var _input = _this.parents('.search-box').find('input');
            var _associateContent = _this.parents('.associate-content');
            var _associateTitle = _associateBox.find('.associate-title');
            var keyword = _associateContent.children("a").html();
            if( _this.hasClass('all') ){
                _associateBox.empty();
                keyword = '';
            }
            _associateContent.remove();
            var _contentLength = _associateBox.find('.associate-content').length;
            if( _contentLength == 0 ){
                _associateTitle.remove();
                _associateBox.css('display', 'none');
            }else{
//                _input.focus();
            }
            //删除记录
            $.ajax({
                type: "post",
                url:"/goods/search.php",
                data: {act:"deleteKeys",keyword:keyword},
                dataType: "json",
                success: function(data) {

                }
            });
        });
        $('.associate-box').on('mouseenter', function(){
            var _input = $('.search-box input');
            _input.off('blur');
        });
        $('.associate-box').on('mouseleave', function(){
            var _input = $('.search-box input');
            _input.on('blur', function(){
                blurFunc();
            });
        });
        function blurFunc(){
            var _associateBox = $('.search-box .associate-box');
            _associateBox.css('display', 'none');
        }
    </script><!-- 首页导航交互 -->
<div id="index-nav">
    <div class="wd-1200 ma">
        <a class="db logo-box fl" href="http://www.bookuu.com/index.php">
            <img data-src="picture/logo.png" alt="" width="210" class="db visible" src="http://bnmpstyle.bookuu.com/www/images/icon/logo.png">
        </a>
        <!-- 搜索 -->
        <div class="fl search-box">
            <input type="text" placeholder="手机打开了分的积分" class="fl bd-n">
            <p class="fr icon-search-line cl-f fs-40" onclick="window.location.reload();"></p>
            <div class="cb"></div>
        </div>
        <div class="fr ta-rt">
            <a class="fs-16 bd-1-d br-4 pd-0030 db" href="http://www.bookuu.com/shopping/cart.php"><span class="icon-cart-block mr-10 cl-a9 pr tp-3 fs-18"></span>我的购物车</a>
        </div>
        <div class="cb"></div>
    </div>
</div>
<div class="content">
    <div class="personal-center mt-20">

     {include file="common/index/userInfoList.html"}

<script type="text/javascript">
    var uri ='/user/collection.php';
    if(!uri){
        uri = '/cashier/deposit.php';
    }
    $('.active').removeClass('active');
    $('.personal-list-box a').each(function(){
        var $this = $(this);
        var href = $this.attr('href');
        if(href.trim() == uri.trim()){
            $this.parent('li').addClass('active');
        }
    });

</script>
        <div class="personal-list-item ml-10 bd-1-e8 fl">
            <ul>
                <li class="list-item active">
                    <div class="mycolle-info mb-20">
                        <h3 class="list-item-title bb-1-e8 mb-20">我的收藏</h3>
                        <div class="goodlist">
                                                        <div class="goodlist-box mt-16 mr-10">

                                <a class="icon-delete-line" href="javascript:void(0);" data-id="100930872">&#xe91d;</a>

                                <a href="http://www.bookuu.com/detail.php?id=100930872">
                                    <div class="goodlist-cont">
                                        <div class="goodlist-pic" data-src="http://bnmppic.bookuu.com/goods/19/26/10/3806021-fm.jpg" data-height="194" data-width="194">
                                        </div>
                                    </div>
                                    <div class="goodlist-buy-box ta-ct pt-10">
                                        <div class="goodlist-title ml-19 mr-19 fs-16">
                                            <p>芳华(精)</p>
                                        </div>
                                        <p class="mt-10"><span class="cl-rd-d fs-16">¥28.86</span>&nbsp;<span class="cl-e8">|</span>&nbsp;<span class="price-init">¥39.00</span></p>
                                        <div class="cb"></div>
                                    </div>
                                </a>
                            </div>
                                                        <div class="cb"></div>
                        </div>
                        <div class="mt-10">
                            <div class="page-number-group tcdPageCode fr">
                                                            </div>
                            <div class="cb"></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="cb"></div>
    </div>
    <!-- 猜你喜欢 -->
    <!--一组或者多个商品，带标题 module_type=3 template_id=7 -->
<div class="my_module" id="11" data-template-id="7" module-id="11" module-type="3">

    <!--猜你喜欢  横向-->
    <div class="mb-20 mt-20 bc-f3 border-patch box-shadow scale-box">

        <div class="lh-40 bc-f3 pd-0020 fs-18 fw-bd">猜你喜欢</div>

        <!-- 商品列表 -->
        <div class="pt-5">
            <div class="flexslider product-six">
                <ul class="slides mouseenter-box">

                                        <li class="ta-ct">
                        <div class="mg-5 mouseenter mouseleave">
                            <div class="scale pd-10 oh">
                                <a class="db square-box one-one bgimg lazyload hidden" data-bgimg="background-image: url(http://bnmppic.bookuu.com/goods/16/52/41/1481705561.jpg);" target="_blank" href="/detail.php?id=100106259"></a>
                            </div>
                            <div class="context">
                                <a class="db cl-6 ht-36 lh-18 oh mt-5" target="_blank" href="/detail.php?id=100106259">白夜行(精)</a>
                                <div>
                                    <span class="fs-16 cl-rd-l">¥30.02</span>
                                    <span class="cl-9">|</span>
                                    <del class="fs-12 cl-9">¥39.50</del>
                                </div>
                            </div>
                        </div>
                    </li>
                                        <li class="ta-ct">
                        <div class="mg-5 mouseenter mouseleave">
                            <div class="scale pd-10 oh">
                                <a class="db square-box one-one bgimg lazyload hidden" data-bgimg="background-image: url(http://bnmppic.bookuu.com/goods/19/41/48/0175410.jpg);" target="_blank" href="/detail.php?id=100102984"></a>
                            </div>
                            <div class="context">
                                <a class="db cl-6 ht-36 lh-18 oh mt-5" target="_blank" href="/detail.php?id=100102984">苏菲的世界(精)</a>
                                <div>
                                    <span class="fs-16 cl-rd-l">¥17.68</span>
                                    <span class="cl-9">|</span>
                                    <del class="fs-12 cl-9">¥26.80</del>
                                </div>
                            </div>
                        </div>
                    </li>
                                        <li class="ta-ct">
                        <div class="mg-5 mouseenter mouseleave">
                            <div class="scale pd-10 oh">
                                <a class="db square-box one-one bgimg lazyload hidden" data-bgimg="background-image: url(http://bnmppic.bookuu.com/goods/22/02/17/3671704.jpg);" target="_blank" href="/detail.php?id=100717552"></a>
                            </div>
                            <div class="context">
                                <a class="db cl-6 ht-36 lh-18 oh mt-5" target="_blank" href="/detail.php?id=100717552">读在大好时光</a>
                                <div>
                                    <span class="fs-16 cl-rd-l">¥24.32</span>
                                    <span class="cl-9">|</span>
                                    <del class="fs-12 cl-9">¥38.00</del>
                                </div>
                            </div>
                        </div>
                    </li>
                                        <li class="ta-ct">
                        <div class="mg-5 mouseenter mouseleave">
                            <div class="scale pd-10 oh">
                                <a class="db square-box one-one bgimg lazyload hidden" data-bgimg="background-image: url(http://bnmppic.bookuu.com/goods/10/03/14/1473040994.jpg);" target="_blank" href="/detail.php?id=100122384"></a>
                            </div>
                            <div class="context">
                                <a class="db cl-6 ht-36 lh-18 oh mt-5" target="_blank" href="/detail.php?id=100122384">青春(韩寒文集典藏版)</a>
                                <div>
                                    <span class="fs-16 cl-rd-l">¥18.9</span>
                                    <span class="cl-9">|</span>
                                    <del class="fs-12 cl-9">¥32.00</del>
                                </div>
                            </div>
                        </div>
                    </li>
                                        <li class="ta-ct">
                        <div class="mg-5 mouseenter mouseleave">
                            <div class="scale pd-10 oh">
                                <a class="db square-box one-one bgimg lazyload hidden" data-bgimg="background-image: url(http://bnmppic.bookuu.com/goods/19/22/10/2453172.jpg);" target="_blank" href="/detail.php?id=100102555"></a>
                            </div>
                            <div class="context">
                                <a class="db cl-6 ht-36 lh-18 oh mt-5" target="_blank" href="/detail.php?id=100102555">了不起的盖茨比(精)</a>
                                <div>
                                    <span class="fs-16 cl-rd-l">¥23.68</span>
                                    <span class="cl-9">|</span>
                                    <del class="fs-12 cl-9">¥32.00</del>
                                </div>
                            </div>
                        </div>
                    </li>
                                        <li class="ta-ct">
                        <div class="mg-5 mouseenter mouseleave">
                            <div class="scale pd-10 oh">
                                <a class="db square-box one-one bgimg lazyload hidden" data-bgimg="background-image: url(http://bnmppic.bookuu.com/goods/20/06/39/2375506.jpg);" target="_blank" href="/detail.php?id=100104392"></a>
                            </div>
                            <div class="context">
                                <a class="db cl-6 ht-36 lh-18 oh mt-5" target="_blank" href="/detail.php?id=100104392">我们仨</a>
                                <div>
                                    <span class="fs-16 cl-rd-l">¥17.25</span>
                                    <span class="cl-9">|</span>
                                    <del class="fs-12 cl-9">¥23.00</del>
                                </div>
                            </div>
                        </div>
                    </li>
                                        <li class="ta-ct">
                        <div class="mg-5 mouseenter mouseleave">
                            <div class="scale pd-10 oh">
                                <a class="db square-box one-one bgimg lazyload hidden" data-bgimg="background-image: url(http://bnmppic.bookuu.com/goods/11/29/41/201504201739589900.jpg);" target="_blank" href="/detail.php?id=100560928"></a>
                            </div>
                            <div class="context">
                                <a class="db cl-6 ht-36 lh-18 oh mt-5" target="_blank" href="/detail.php?id=100560928">亲近母语：小学一年级（日有所诵+全阅读+阅读力测试）（全3册）</a>
                                <div>
                                    <span class="fs-16 cl-rd-l">¥31.86</span>
                                    <span class="cl-9">|</span>
                                    <del class="fs-12 cl-9">¥58.40</del>
                                </div>
                            </div>
                        </div>
                    </li>
                                        <li class="ta-ct">
                        <div class="mg-5 mouseenter mouseleave">
                            <div class="scale pd-10 oh">
                                <a class="db square-box one-one bgimg lazyload hidden" data-bgimg="background-image: url(http://bnmppic.bookuu.com/goods/18/57/24/2634551.jpg);" target="_blank" href="/detail.php?id=100101664"></a>
                            </div>
                            <div class="context">
                                <a class="db cl-6 ht-36 lh-18 oh mt-5" target="_blank" href="/detail.php?id=100101664">时代广场的蟋蟀 不老泉文库</a>
                                <div>
                                    <span class="fs-16 cl-rd-l">¥12.50</span>
                                    <span class="cl-9">|</span>
                                    <del class="fs-12 cl-9">¥15.00</del>
                                </div>
                            </div>
                        </div>
                    </li>
                                        <li class="ta-ct">
                        <div class="mg-5 mouseenter mouseleave">
                            <div class="scale pd-10 oh">
                                <a class="db square-box one-one bgimg lazyload hidden" data-bgimg="background-image: url(http://bnmppic.bookuu.com/goods/14/46/32/1491979592.jpg);" target="_blank" href="/detail.php?id=100385168"></a>
                            </div>
                            <div class="context">
                                <a class="db cl-6 ht-36 lh-18 oh mt-5" target="_blank" href="/detail.php?id=100385168">爱探险的朵拉系列故事(第9辑相信有爱共4册)</a>
                                <div>
                                    <span class="fs-16 cl-rd-l">¥16.14</span>
                                    <span class="cl-9">|</span>
                                    <del class="fs-12 cl-9">¥29.80</del>
                                </div>
                            </div>
                        </div>
                    </li>
                                        <li class="ta-ct">
                        <div class="mg-5 mouseenter mouseleave">
                            <div class="scale pd-10 oh">
                                <a class="db square-box one-one bgimg lazyload hidden" data-bgimg="background-image: url(http://bnmppic.bookuu.com/goods/16/17/21/1508141841.jpg);" target="_blank" href="/detail.php?id=100745111"></a>
                            </div>
                            <div class="context">
                                <a class="db cl-6 ht-36 lh-18 oh mt-5" target="_blank" href="/detail.php?id=100745111">得力LED浮雕夜视灯光地球仪 25cm（2164）</a>
                                <div>
                                    <span class="fs-16 cl-rd-l">¥259.00</span>
                                    <span class="cl-9">|</span>
                                    <del class="fs-12 cl-9">¥470.00</del>
                                </div>
                            </div>
                        </div>
                    </li>
                                        <li class="ta-ct">
                        <div class="mg-5 mouseenter mouseleave">
                            <div class="scale pd-10 oh">
                                <a class="db square-box one-one bgimg lazyload hidden" data-bgimg="background-image: url(http://bnmppic.bookuu.com/goods/16/59/13/1481014753.jpg);" target="_blank" href="/detail.php?id=100745040"></a>
                            </div>
                            <div class="context">
                                <a class="db cl-6 ht-36 lh-18 oh mt-5" target="_blank" href="/detail.php?id=100745040">迪士尼儿童吸管保温杯300ml  蓝色</a>
                                <div>
                                    <span class="fs-16 cl-rd-l">¥55.00</span>
                                    <span class="cl-9">|</span>
                                    <del class="fs-12 cl-9">¥60.90</del>
                                </div>
                            </div>
                        </div>
                    </li>
                                        <li class="ta-ct">
                        <div class="mg-5 mouseenter mouseleave">
                            <div class="scale pd-10 oh">
                                <a class="db square-box one-one bgimg lazyload hidden" data-bgimg="background-image: url(http://bnmppic.bookuu.com/goods/18/01/12/1476439272.jpg);" target="_blank" href="/detail.php?id=100705819"></a>
                            </div>
                            <div class="context">
                                <a class="db cl-6 ht-36 lh-18 oh mt-5" target="_blank" href="/detail.php?id=100705819">得力衍纸套装 趣味折纸 礼盒装 礼盒装</a>
                                <div>
                                    <span class="fs-16 cl-rd-l">¥45.00</span>
                                    <span class="cl-9">|</span>
                                    <del class="fs-12 cl-9">¥75.00</del>
                                </div>
                            </div>
                        </div>
                    </li>
                                        <li class="ta-ct">
                        <div class="mg-5 mouseenter mouseleave">
                            <div class="scale pd-10 oh">
                                <a class="db square-box one-one bgimg lazyload hidden" data-bgimg="background-image: url(http://bnmppic.bookuu.com/goods/15/38/58/1508225938.jpg);" target="_blank" href="/detail.php?id=100115682"></a>
                            </div>
                            <div class="context">
                                <a class="db cl-6 ht-36 lh-18 oh mt-5" target="_blank" href="/detail.php?id=100115682">迪士尼学生儿童豪华大礼盒 粉红</a>
                                <div>
                                    <span class="fs-16 cl-rd-l">¥60.00</span>
                                    <span class="cl-9">|</span>
                                    <del class="fs-12 cl-9">¥80.00</del>
                                </div>
                            </div>
                        </div>
                    </li>
                                        <li class="ta-ct">
                        <div class="mg-5 mouseenter mouseleave">
                            <div class="scale pd-10 oh">
                                <a class="db square-box one-one bgimg lazyload hidden" data-bgimg="background-image: url(http://bnmppic.bookuu.com/goods/15/17/13/1478157433.jpg);" target="_blank" href="/detail.php?id=100705832"></a>
                            </div>
                            <div class="context">
                                <a class="db cl-6 ht-36 lh-18 oh mt-5" target="_blank" href="/detail.php?id=100705832">迪士尼儿童四轮滑轮车  2-3-6岁幼儿一秒折叠滑板车 米妮</a>
                                <div>
                                    <span class="fs-16 cl-rd-l">¥209.00</span>
                                    <span class="cl-9">|</span>
                                    <del class="fs-12 cl-9">¥299.00</del>
                                </div>
                            </div>
                        </div>
                    </li>
                                        <li class="ta-ct">
                        <div class="mg-5 mouseenter mouseleave">
                            <div class="scale pd-10 oh">
                                <a class="db square-box one-one bgimg lazyload hidden" data-bgimg="background-image: url(http://bnmppic.bookuu.com/goods/14/56/45/1476687405.jpg);" target="_blank" href="/detail.php?id=100585907"></a>
                            </div>
                            <div class="context">
                                <a class="db cl-6 ht-36 lh-18 oh mt-5" target="_blank" href="/detail.php?id=100585907">晨光集客文具套装 HAPY0006 橙色</a>
                                <div>
                                    <span class="fs-16 cl-rd-l">¥79.00</span>
                                    <span class="cl-9">|</span>
                                    <del class="fs-12 cl-9">¥142.00</del>
                                </div>
                            </div>
                        </div>
                    </li>
                    
                </ul>
            </div>
        </div>

    </div>

</div>

<script type="text/javascript">
    $(function(){
        //商品轮播 列表 - 大家都在看
        $('.flexslider.product-six').flexslider({
            animation: "slide",
            animationLoop: false,
            itemWidth: 200,
            itemMargin: 0,
            controlNav: ''
        });
    });
</script>




</div>
<!-- 底部 -->


    <!-- 底部 -->
    <div class="footer">
    <!-- tag -->
    <div class="tag">
        <ul class="clearfix">
            <li class="cl-4 lh-25 pd-0500 wd-25p fl">
                <img src="picture/zheng.png" alt="" width="50" height="50" class="fl mr-10" />
                <div class="fl">
                    <p class="fs-24 ">全场正品</p>
                    <p>新华书店·正品保证</p>
                </div>
                <div class="cb"></div>
            </li>
            <li class="cl-4 lh-25 pd-0500 wd-25p fl">
                <img src="picture/sheng.png" alt="" width="50" height="50" class="fl mr-10" />
                <div class="fl">
                    <p class="fs-24 ">全场满额包邮</p>
                    <p>惊喜不断·让利多多</p>
                </div>
                <div class="cb"></div>
            </li>
            <li class="cl-4 lh-25 pd-0500 wd-25p fl">
                <img src="picture/huo.png" alt="" width="50" height="50" class="fl mr-10" />
                <div class="fl">
                    <p class="fs-24 ">门店自取</p>
                    <p>就近取货·方式灵活</p>
                </div>
                <div class="cb"></div>
            </li>
            <li class="cl-4 lh-25 pd-0500 wd-25p fl">
                <img src="picture/hao.png" alt="" width="50" height="50" class="fl mr-10" />
                <div class="fl">
                    <p class="fs-24 ">售后无忧</p>
                    <p>服务体验·更加精彩</p>
                </div>
                <div class="cb"></div>
            </li>
        </ul>
    </div>
    <div class="wd-1200 ma pd-2000 clearfix">
        <ul class="links-box fl clearfix">
            <li class="lh-30 wd-20p fl">
                <span class="db fs-16 lh-40 ">新手指南</span>
                <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=2&cid=9&cid_name=新用户注册">新用户注册</a></div>
                <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=2&cid=10&cid_name=购物流程">购物流程</a></div>
                <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=2&cid=11&cid_name=积分制度">积分制度</a></div>
                <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=2&cid=12&cid_name=注册开店">注册开店</a></div>
                <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=2&cid=13&cid_name=激励制度">激励制度</a></div>
            </li>
            <li class="lh-30 wd-20p fl">
                <span class="db fs-16 lh-40 ">支付与配送</span>
                <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=3&cid=14&cid_name=IC卡充值说明">IC卡充值说明</a></div>
                <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=3&cid=15&cid_name=验货与签收">验货与签收</a></div>
                <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=3&cid=16&cid_name=配送范围">配送范围</a></div>
                <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=3&cid=17&cid_name=自行取货">自行取货</a></div>
                <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=3&cid=18&cid_name=支付方式">支付方式</a></div>
            </li>
            <li class="lh-30 wd-20p fl">
                <span class="db fs-16 lh-40 ">售后服务</span>
                <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=5&cid=19&cid_name=发票制度">发票制度</a></div>
                <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=5&cid=21&cid_name=退换货流程">退换货流程</a></div>
                <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=5&cid=35&cid_name=退换货地址">退换货地址</a></div>
            </li>
            <li class="lh-30 wd-20p fl">
                <span class="db fs-16 lh-40 ">个人中心</span>
                <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=6&cid=27&cid_name=店铺设置">店铺设置</a></div>
                <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=6&cid=28&cid_name=团队管理">团队管理</a></div>
                <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=6&cid=29&cid_name=收入管理">收入管理</a></div>
                <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=6&cid=30&cid_name=我的订单">我的订单</a></div>
                <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=6&cid=31&cid_name=我的优惠券">我的优惠券</a></div>
                <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=6&cid=32&cid_name=我的等级">我的等级</a></div>
            </li>
            <li class="lh-30 wd-20p fl">
                <span class="db fs-16 lh-40 ">了解博库</span>
                <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=37&cid=38&cid_name=关于博库">关于博库</a></div>
                <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=37&cid=39&cid_name=联系我们">联系我们</a></div>
                <div><a  target="_blank" class="hover cl-6" href="http://job.bookuu.com/">公司招聘</a></div>
            </li>
        </ul>
        <div class="code-box fr">
            <ul class="clearfix">
                <li class="cl-6 lh-30 ta-ct wd-50p fl">
                    <p class="fs-16 lh-40 ">手机博库</p>
                    <img data-src="picture/app.jpg" align="" width="105" height="105" class="db hidden bd-1-d ma">
                    <p class="lh-30">下载手机客户端</p>
                </li>
                <li class="cl-6 lh-30 ta-ct wd-50p fl">
                    <p class="fs-16 lh-40 ">关注微信</p>
                    <img data-src="picture/wx.jpg" align="" width="105" height="105" class="db hidden bd-1-d ma">
                    <p class="lh-30">关注官方微信</p>
                </li>
            </ul>
            <div class="cl-6 lh-25 mt-15">
                <p class="fs-16 fw-bd">服务热线&nbsp;0571-26306883</p>
                <p>服务时间&nbsp;9：00-21：00</p>
            </div>
        </div>
    </div>
    <!-- copyright -->
    <div class="copyright">
        <div class="wd-605 ma cl-9 ta-ct" style="width: 656px;">
            <div class="fl lh-50">
                <img src="picture/jingcha.png" alt="" height="36" class="va-md pd-0005">
                <a href="/system/refer.php" target="_blank"><img src="picture/huizhang.png" alt="" height="36" class="va-md pd-0005"></a>
                <!--<a href="http://www.itrust.org.cn/yz/pjwx.asp?wm=1575312902" target="_blank"><img src="picture/xin.png" alt="" height="36" class="va-md pd-0005"></a>-->
            </div>
            <div class="fl pd-0010">
                <p>©Copyright 2005-2017 bookuu.com 版权所有</p>
                <p>增值电信业务经营许可证:浙B2-2011021</p>
            </div>
            <div class="fl lh-50">
                <a href="https://ss.knet.cn/verifyseal.dll?sn=e14082133010052836nfbw000000&comefrom=trust&trustKey=dn&trustValue=www.bookuu.com" target="_blank"><img src="picture/knetseallogo.png" alt="" height="30" class="va-md pd-0005"></a>
                <a href="https://credit.szfw.org/CX20160711016212850139.html" target="_blank"><img src="picture/cert.png" alt="" height="30" class="va-md pd-0005"></a>
            </div>
            <div class="cb"></div>
        </div>
    </div>
</div>
    <script>
        $(function(){
            //频道 tab切换
            $(".my_tab").click(function(){
                var tabId = $(this).attr("data-id");
                $(this).addClass('on-click');
                $(this).siblings().removeClass('on-click');

                $("#my_tab_"+tabId).removeClass("dn");
                $("#my_tab_"+tabId).siblings(".my_tab_content").addClass('dn');
            });
        });

        // 懒加载
        lazyLoading();

        // 菜单
        mouseenterAndTab();
        
        $(function(){

            //公共：加入收藏
            $('.collect').on('click', function(){
                var _span = $(this).find('span');

                var goods_id = $(this).attr('goods-id');
                if( _span.hasClass('icon-star-line') ){
                    $.ajax({
                        type: "get",
                        url:"/ajax/collect.php",
                        data: {act:'collect',type:'add',id:goods_id},
                        dataType: "json",
                        success: function(data) {
                            if(parseInt(data.status) == 1){
                                alert(data.info);

                                _span.removeClass('icon-star-line').addClass('icon-star-block').html('&#xe945;');
                                $('.collect').removeClass('bd-1-a cl-9').addClass('bd-1-bl-d cl-bl-l');
                                


                            } else if(parseInt(data.status) == 404){
                                window.location.href = data.info;
                            } else {
                                alert(data.info);
                            }
                        }
                    });
                }else{
                    confirm('', '你要取消收藏该商品吗?', '', function(res){
                        if (res) {
                            $.ajax({
                                type: "get",
                                url:"/ajax/collect.php",
                                data: {act:'collect',type:'delete',id:goods_id},
                                dataType: "json",
                                success: function(data) {
                                    if(parseInt(data.status) == 1){
                                        alert(data.info);

                                        _span.removeClass('icon-star-block').addClass('icon-star-line').html('&#xe946;');
                                        $('.collect').removeClass('bd-1-bl-d cl-bl-l').addClass('bd-1-a cl-9');

                                    } else if(parseInt(data.status) == 404){
                                        window.location.href = data.info;
                                    } else {
                                        alert(data.info);
                                    }
                                }
                            });
                        }else{
                            _span.removeClass('icon-star-line').addClass('icon-star-block').html('&#xe945;');
                            $('.collect').removeClass('bd-1-a cl-9').addClass('bd-1-bl-d cl-bl-l');
                        }
                    });
                }

            });

            getCartNum();

            //公共：加入购物车
            $('.addcart').on('click',function(){
                var goods_id = $(this).attr('goods-id');
                var number = $(this).attr('goods-number');
                $.ajax({
                    type: "post",
                    url:"/ajax/cart.php?act=add",
                    data: {id:goods_id,number: typeof(number) == 'undefined' ? 1 :number},
                    dataType: "json",
                    success: function(data) {
                        if(parseInt(data.status) == 404){
                            window.location.href = data.info;
                        }else{
                            if(data.status == 200){
                                $('.cart_num').addClass('bc-rd-d pd-0005').html(data.list_number);
                            }
                            alert(data.info);
                        }
                    },error:function(){
                        alert('加入失败');
                    }
                });
            });

            //公共：签到
            $('.checkin').on('click',function(){
                $.ajax({
                    type: "post",
                    url:"/ajax/checkin.php?act=signed",
                    data: {},
                    dataType: "json",
                    success: function(data) {
                        if(parseInt(data.status) == 404){
                            window.location.href = data.info;
                        }else{
                            alert(data.info);
                        }
                    },error:function(){
                        alert('签到失败');
                    }
                });
            });

        });

        //获取购物车的数量
        function getCartNum(){
            var num = getCookie('gwshoppingcart');
            if(num == null){
                //公共：购物车数量统计
                $.ajax({
                    type: "get",
                    url:"/ajax/cart.php?act=count",
                    dataType: "json",
                    success: function(data) {
                        if( parseInt(data.status) == 200 && parseInt(data.list_number)>0){
                            $('.cart_num').addClass('bc-rd-d pd-0005').html(data.list_number);
                        }
                    }
                });
            }
            if(num >0 ){
                $('.cart_num').addClass('bc-rd-d pd-0005').html(num);
            }
        }

        function getCookie(name) {
            var arr,reg=new RegExp("(^| )"+name+"=([^;]*)(;|$)");
            if(arr=document.cookie.match(reg))
                return unescape(arr[2]);
            else
                return null;
        }

        // 进度条
        $('.progress-box').progress();

    </script>

</body>
</html>
<script type="text/javascript">
    //dsx 懒加载
    $('.personal-list-item .list-item.active .goodlist-pic').layzload({imgshow:300});

    //删除收藏商品
    $('.goodlist').on('click', '.icon-delete-line', function () {
        var $this = $(this);
        var goods_id = $this.data('id');

        if (!goods_id) {
            return false;
        }
        $.post(
                'collection.php?act=delete',
                {goods_id: goods_id},
                function (data) {
                    alert(data.message);
                    if (data.status) {
                     window.location.href = window.location.href;
                     } else {
                     alert(data.message);
                     }
                }, 'json'
        );
    });


</script>