<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="博库网品种丰富的中文网上书店，160万种图书在线热销！图书、音像、软件正品行货超低折扣，全场免邮，支持全国货到付款。" />
<meta name="keywords" content="博库网,博库,博库书城,网上书店,网上买书,图书,影视,音像,软件"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<link rel="stylesheet" type="text/css" href="__CSS__/myframe_1.css" />
<link rel="stylesheet" type="text/css" href="__CSS__/public_1.css" />
<link rel="stylesheet" type="text/css" href="__CSS__/component_1.css" />
<link rel="stylesheet" type="text/css" href="__CSS__/module_1.css" />
<link rel="shortcut icon" href="http://bnmpstyle.bookuu.com/www/images/favicon.ico" type="image/x-icon" />

<!-- 字体图标 -->
<link rel="stylesheet" type="text/css" href="__CSS__/iconfonts_1.css" />

<script type="text/javascript" src="__JS__/jquery-1.8.2.min_1.js"></script>
<script type="text/javascript" src="__JS__/component_1.js"></script>

<!-- FlexSlider -->
<link rel="stylesheet" type="text/css" href="__CSS__/flexslider_1.css" />
<script type="text/javascript" src="__JS__/jquery.flexslider_1.js"></script>

<title id="www_pc_title">博库网</title></head>
<body>

<!-- 头部 -->
<div class="header-2 bc-f oh">

    <!-- 顶部 小标题  登录信息-->
<div class="bc-f5 ht-30 lh-30">
    <div class="wd-1200 ma fs-12 cl-6">
        <p class="fl">
                        欢迎，自行车
            <span class="pd-0005 cl-c">|</span>
            <a class="mr-30 hover cl-6" href="//www.bookuu.com/login.php?act=loginout" title="退出登录">退出登录</a>
                        <a class="hover cl-6" href="/download.php" target="_blank" title="下载博库APP"><span class="icon-phone-line cl-bl-l fs-16 tp-3 mr-2 pr">&#xe933;</span>下载博库APP</a>
        </p>
        <p class="fr">
            <a class="hover fr cl-6" href="javascript:void()" onclick="openQiYuSDK();" title="联系客服">联系客服</a>
            <span class="pd-0015 cl-c fr">|</span>
            <a class="hover fr cl-6" href="/user/shop/settings.php" target="_blank" title="店铺管理">店铺管理</a>
            <span class="pd-0015 cl-c fr">|</span>
            <a class="hover fr cl-6" href="/user/collection.php" target="_blank" title="收藏夹">收藏夹</a>
            <span class="pd-0015 cl-c fr">|</span>
            <div class="fr mouseenter-box mouseenter mouseleave pr">
                <label class="cp">我的博库<span class="icon-down-line ml-5 fs-11">&#xe91e;</span></label>
                <div class="acount">
                    <a class="hover cl-6 to-hd" href="//www.bookuu.com/user/"  target="_blank" title="">我的博库</a>
                    <a class="hover cl-6 to-hd" href="//www.bookuu.com/user/orders/order.php" target="_blank" title="">我的订单</a>
                    <a class="hover cl-6 to-hd" href="//www.bookuu.com/user/coupon.php" target="_blank" title="">我的优惠券</a>
                    <a class="hover cl-6 to-hd" href="//www.bookuu.com/user/collection.php" target="_blank" title="">我的收藏</a>
                    <a class="hover cl-6 to-hd" href="//www.bookuu.com/user/account.php" target="_blank" title="">我的收入</a>
                    <a class="hover cl-6 to-hd" href="//www.bookuu.com/user/message.php" target="_blank" title="">官方消息</a>
                    <a class="hover cl-6 to-hd" href="javascript:void(0);" title=""></a>
                </div>
            </div>
            <div class="cb"></div>
        </p>
        <div class="cb"></div>
    </div>
</div>
<script src="__JS__/385c0351a4c1868328bba0ad1532fd1b_1.js" charset="utf-8"></script>
<script>

    ysf.on({
        'onload': function(){
            var user_id = "100580004";
            var goods_id = "";
            if(user_id){
                ysf.config({
                    uid:"100580004",
                    name:'自行车',
                    email:'',
                    mobile:'18601021538',
                    avatar:''
                });
            }
            if(goods_id){
                ysf.product({
                    show : 1, // 1为打开， 其他参数为隐藏（包括非零元素）
                    title : '',
                    desc : '',
                    picture : 'http://bnmppic.bookuu.com/',
                    note : '¥',
                    url : 'http://www.bookuu.com/detail.php?id='
                });
            }
        }
    });

    window.openQiYuSDK = function(){
        ysf.open();
    }
</script>
    <div class="wd-1200 ma bb-1-e8">
        <div class="logo">
            <a class="db logo-box fl" href="/index.php">
                <img data-src="picture/logo_1.png" alt="" height="45" class="db hidden">
            </a>
            <div class="cb"></div>
        </div>
    </div>

</div>
<div class="section">
    <div class="wd-1200 ma">
        <!-- 支付方式 -->

        <div class="pd-1530 bc-f3 bd-1-e8 pt-20">
            <div class="fs-20 ff-ht bb-1-d7 lh-40">支付方式</div>
            <p class="fs-16 mt-20">总金额 ：<span class="cl-rd-l fs-20">¥{$totalmoney}</span></p>
            <ul class="lh-45 mt-30 tab-pay" style="max-width:350px;">
                                <li class="mt-10" data-channel="alipayBlance">
                    <div class="wd-40 fl">
                        <input type="checkbox" class="pafull-box op-0 cp">

                        <img src="picture/checkbox-block.png" width="15" height="15" class="va-md" />
                    </div>
                                            <div class="wd-110 ht-40 oh fl bd-2-f3 pr ta-ct">
                            <img src="picture/zhifubao.png" align="支付宝支付" height="30" class="mt-5" />
                            <div class="patch2">
             <!--                    <span class="icon-right-line2 fs-8 cl-f zi-1">&#xe936;</span>
                                <label class="icon-triangle2-block3 fs-17 cl-bl-l zi-0">&#xe955;</label> -->
                                <img src="picture/check-tip_1.png">
                            </div>
                        </div>
                                        <div class="cb"></div>
                </li>
                                <li class="mt-10" data-channel="wxPay">
                    <div class="wd-40 fl">
                        <input type="checkbox" class="pafull-box op-0 cp">

                        <img src="picture/checkbox-block.png" width="15" height="15" class="va-md" />
                    </div>
                                            <div class="wd-110 ht-40 oh fl bd-2-f3 pr ta-ct">
                            <img src="picture/weixin.png" align="微信支付" height="25" class="mt-8" />
                            <div class="patch2">
                           <!--      <span class="icon-right-line2 fs-8 cl-f zi-1">&#xe936;</span>
                                <label class="icon-triangle2-block3 fs-17 cl-bl-l zi-0">&#xe955;</label> -->
                                <img src="picture/check-tip_1.png">
                            </div>
                        </div>
                                        <div class="cb"></div>
                </li>
                                <li class="mt-10" data-channel="blance">
                    <div class="wd-40 fl">
                        <input type="checkbox" class="pafull-box op-0 cp">

                        <img src="picture/checkbox-block.png" width="15" height="15" class="va-md" />
                    </div>
                                            <div class="wd-110 ht-40 oh fl bd-2-f3 pr ta-ct">
                                                        <img src="picture/yuebuzu.png" align="余额不足" height="30" class="mt-5" />
                                                        <div class="patch2">
                             <!--    <span class="icon-right-line2 fs-8 cl-f zi-1">&#xe936;</span>
                                <label class="icon-triangle2-block3 fs-17 cl-bl-l zi-0">&#xe955;</label> -->
                                <img src="picture/check-tip_1.png">
                            </div>
                        </div>
                        <div class="fl ml-10">账户余额：<span class="cl-rd-l">¥0</span></div>
                                        <div class="cb"></div>
                </li>
                            </ul>
            <input type="hidden" id="pay_id" value="15092530691116440059f55fcd1b4f6">
            <div class="ht-40 lh-40 mt-20">
                <span class="fs-18 cl-f pd-0830 bc-bl" id="pay_submint_button" href="javascript:void(0)" onclick="payOrder(this);">去支付</span>
            </div>
        </div>

        <!-- 微信支付 弹窗-->
    <!--     <div class="dn" id="wxpay_layer">
            <div style="text-align: center;margin-bottom: 40px;" id="wxpay_qrcode"></div>
        </div> -->
        <!-- 新增收货地址弹窗 -->
        <div class="popup-box wxpay wd-660 pd-0 pr hidden">
            <div class="popup-content">
                <div class="content-center">
                    <p class="fs-18 ff-ht lh-50 bc-f3 bb-1-e8 pd-0020 ">微信支付</p>
                    <div class="topright10-box"><span class="icon-close-line close-popup cp fs-25">&#xe919;</span></div>
                    <ul class="pd-60">
                        <li class="br-1-e8 wd-240 pr-36 fl">
                            <div class="pd-10">
                                <p class="fl mt-4"><span class="icon-zzzsao-line cl-rd-l fs-35 mr-10">&#xe96a;</span></p>
                                <p class="fl">请使用微信扫一扫<br/>扫描二维码支付</p>
                                <div class="cb"></div>
                            </div>
                            <div class="wd-160 pd-30 bd-1-e8">
                                <div id="wxpay_qrcode" class="square-box one-one bc-f3 bgimg lazyload hidden" data-bgimg="background-image: url();"></div>
                            </div>
                            <p class="fs-12 cl-6 mt-20 ta-ct">二维码有效时长为30分钟，请尽快支付！</p>
                        </li>
                        <li class="fr wd-250">
                            <img data-src="picture/saowx.png" class="db hidden ma" width="190"  alt="" />
                        </li>
                        <div class="cb"></div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- popup -->
    <div class="popup-box alipay pd-0 pr wd-460 hidden">
        <div class="popup-content">
            <div class="content-center">
                <div class="fs-18 ht-50 lh-50 bc-f3 pd-0010 bb-1-e8">提示</div>
                <span class="icon-close-line topright-box fs-20 cp pd-10" onclick="closePopupAlipay(this);">&#xe919;</span>
                <div class="bc-f pd-3040">
                    <div class="wd-30 fl ta-ct mt-3"><span class="icon-zzzinfo-block cl-rd-l fs-18">&#xe968;</span></div>
                    <div class="fl wd-350">
                        <p class="fs-16">请在第三方支付页面完成付款</p>
                        <p class="fs-16">付款完成前请不要关闭此窗口</p>
                        <div class="mt-20 fs-16 lh-35">
                             <a class="bc-bl cl-f pd-0610 mr-10 close-popup" href="/user/orders/order.php">我已付款成功</a>
                             <label class="bc-f cl-6 bd-1-c pd-0610 mr-20 cp close-popup" onclick="reloadPay();">付款遇到问题，重新支付</label>
                         </div>
                    </div>
                    <div class="cb"></div>
                </div>
            </div>
        </div>
    </div>


    <!-- popup -->
    <div class="popup-box blancepay wd-460 pd-0 pr hidden">
        <div class="popup-content">
            <div class="content-center">
                <div class="fs-18 ht-50 lh-50 bc-f3 pd-0010 bb-1-e8">提示</div>
                <span class="icon-close-line topright-box fs-20 cp pd-10" onclick="closePopupBlance(this);">&#xe919;</span>
                <div class="bc-f pd-3040">
                    <div class="wd-30 fl ta-ct mt-3"><span class="icon-zzzinfo-block cl-rd-l fs-18">&#xe968;</span></div>
                    <div class="fl wd-350">
                        <p class="fs-16">请先去绑定手机号码</p>
                        <div class="mt-20 fs-16 lh-35">
                            <a class="bc-bl cl-f pd-0610 mr-10 close-popup" href="">前去绑定</a>
                            <label class="bc-f cl-6 bd-1-c pd-0610 mr-20 cp" onclick="closePopupBlance(this);">取消</label>
                        </div>
                    </div>
                    <div class="cb"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 底部 -->

    <!-- 底部 -->
    <div class="footer">
    <!-- tag -->
    <div class="tag">
        <ul class="clearfix">
            <li class="cl-4 lh-25 pd-0500 wd-25p fl">
                <img src="picture/zheng_1.png" alt="" width="50" height="50" class="fl mr-10" />
                <div class="fl">
                    <p class="fs-24 ">全场正品</p>
                    <p>新华书店·正品保证</p>
                </div>
                <div class="cb"></div>
            </li>
            <li class="cl-4 lh-25 pd-0500 wd-25p fl">
                <img src="picture/sheng_1.png" alt="" width="50" height="50" class="fl mr-10" />
                <div class="fl">
                    <p class="fs-24 ">全场满额包邮</p>
                    <p>惊喜不断·让利多多</p>
                </div>
                <div class="cb"></div>
            </li>
            <li class="cl-4 lh-25 pd-0500 wd-25p fl">
                <img src="picture/huo_1.png" alt="" width="50" height="50" class="fl mr-10" />
                <div class="fl">
                    <p class="fs-24 ">门店自取</p>
                    <p>就近取货·方式灵活</p>
                </div>
                <div class="cb"></div>
            </li>
            <li class="cl-4 lh-25 pd-0500 wd-25p fl">
                <img src="picture/hao_1.png" alt="" width="50" height="50" class="fl mr-10" />
                <div class="fl">
                    <p class="fs-24 ">售后无忧</p>
                    <p>服务体验·更加精彩</p>
                </div>
                <div class="cb"></div>
            </li>
        </ul>
    </div>
    <div class="wd-1200 ma pd-2000 clearfix">
        <ul class="links-box fl clearfix">
            <li class="lh-30 wd-20p fl">
                <span class="db fs-16 lh-40 ">新手指南</span>
                <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=2&cid=9&cid_name=新用户注册">新用户注册</a></div>
                <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=2&cid=10&cid_name=购物流程">购物流程</a></div>
                <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=2&cid=11&cid_name=积分制度">积分制度</a></div>
                <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=2&cid=12&cid_name=注册开店">注册开店</a></div>
                <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=2&cid=13&cid_name=激励制度">激励制度</a></div>
            </li>
            <li class="lh-30 wd-20p fl">
                <span class="db fs-16 lh-40 ">支付与配送</span>
                <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=3&cid=14&cid_name=IC卡充值说明">IC卡充值说明</a></div>
                <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=3&cid=15&cid_name=验货与签收">验货与签收</a></div>
                <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=3&cid=16&cid_name=配送范围">配送范围</a></div>
                <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=3&cid=17&cid_name=自行取货">自行取货</a></div>
                <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=3&cid=18&cid_name=支付方式">支付方式</a></div>
            </li>
            <li class="lh-30 wd-20p fl">
                <span class="db fs-16 lh-40 ">售后服务</span>
                <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=5&cid=19&cid_name=发票制度">发票制度</a></div>
                <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=5&cid=21&cid_name=退换货流程">退换货流程</a></div>
                <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=5&cid=35&cid_name=退换货地址">退换货地址</a></div>
            </li>
            <li class="lh-30 wd-20p fl">
                <span class="db fs-16 lh-40 ">个人中心</span>
                <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=6&cid=27&cid_name=店铺设置">店铺设置</a></div>
                <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=6&cid=28&cid_name=团队管理">团队管理</a></div>
                <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=6&cid=29&cid_name=收入管理">收入管理</a></div>
                <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=6&cid=30&cid_name=我的订单">我的订单</a></div>
                <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=6&cid=31&cid_name=我的优惠券">我的优惠券</a></div>
                <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=6&cid=32&cid_name=我的等级">我的等级</a></div>
            </li>
            <li class="lh-30 wd-20p fl">
                <span class="db fs-16 lh-40 ">了解博库</span>
                <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=37&cid=38&cid_name=关于博库">关于博库</a></div>
                <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=37&cid=39&cid_name=联系我们">联系我们</a></div>
                <div><a  target="_blank" class="hover cl-6" href="http://job.bookuu.com/">公司招聘</a></div>
            </li>
        </ul>
        <div class="code-box fr">
            <ul class="clearfix">
                <li class="cl-6 lh-30 ta-ct wd-50p fl">
                    <p class="fs-16 lh-40 ">手机博库</p>
                    <img data-src="picture/app_1.jpg" align="" width="105" height="105" class="db hidden bd-1-d ma">
                    <p class="lh-30">下载手机客户端</p>
                </li>
                <li class="cl-6 lh-30 ta-ct wd-50p fl">
                    <p class="fs-16 lh-40 ">关注微信</p>
                    <img data-src="picture/wx_1.jpg" align="" width="105" height="105" class="db hidden bd-1-d ma">
                    <p class="lh-30">关注官方微信</p>
                </li>
            </ul>
            <div class="cl-6 lh-25 mt-15">
                <p class="fs-16 fw-bd">服务热线&nbsp;0571-26306883</p>
                <p>服务时间&nbsp;9：00-21：00</p>
            </div>
        </div>
    </div>
    <!-- copyright -->
    <div class="copyright">
        <div class="wd-605 ma cl-9 ta-ct" style="width: 656px;">
            <div class="fl lh-50">
                <img src="picture/jingcha_1.png" alt="" height="36" class="va-md pd-0005">
                <a href="/system/refer.php" target="_blank"><img src="picture/huizhang_1.png" alt="" height="36" class="va-md pd-0005"></a>
                <!--<a href="http://www.itrust.org.cn/yz/pjwx.asp?wm=1575312902" target="_blank"><img src="picture/xin_1.png" alt="" height="36" class="va-md pd-0005"></a>-->
            </div>
            <div class="fl pd-0010">
                <p>©Copyright 2005-2017 bookuu.com 版权所有</p>
                <p>增值电信业务经营许可证:浙B2-2011021</p>
            </div>
            <div class="fl lh-50">
                <a href="https://ss.knet.cn/verifyseal.dll?sn=e14082133010052836nfbw000000&comefrom=trust&trustKey=dn&trustValue=www.bookuu.com" target="_blank"><img src="picture/knetseallogo_1.png" alt="" height="30" class="va-md pd-0005"></a>
                <a href="https://credit.szfw.org/CX20160711016212850139.html" target="_blank"><img src="picture/cert_1.png" alt="" height="30" class="va-md pd-0005"></a>
            </div>
            <div class="cb"></div>
        </div>
    </div>
</div>
    <script>
        $(function(){
            //频道 tab切换
            $(".my_tab").click(function(){
                var tabId = $(this).attr("data-id");
                $(this).addClass('on-click');
                $(this).siblings().removeClass('on-click');

                $("#my_tab_"+tabId).removeClass("dn");
                $("#my_tab_"+tabId).siblings(".my_tab_content").addClass('dn');
            });
        });

        // 懒加载
        lazyLoading();

        // 菜单
        mouseenterAndTab();
        
        $(function(){

            //公共：加入收藏
            $('.collect').on('click', function(){
                var _span = $(this).find('span');

                var goods_id = $(this).attr('goods-id');
                if( _span.hasClass('icon-star-line') ){
                    $.ajax({
                        type: "get",
                        url:"/ajax/collect.php",
                        data: {act:'collect',type:'add',id:goods_id},
                        dataType: "json",
                        success: function(data) {
                            if(parseInt(data.status) == 1){
                                alert(data.info);

                                _span.removeClass('icon-star-line').addClass('icon-star-block').html('&#xe945;');
                                $('.collect').removeClass('bd-1-a cl-9').addClass('bd-1-bl-d cl-bl-l');
                                


                            } else if(parseInt(data.status) == 404){
                                window.location.href = data.info;
                            } else {
                                alert(data.info);
                            }
                        }
                    });
                }else{
                    confirm('', '你要取消收藏该商品吗?', '', function(res){
                        if (res) {
                            $.ajax({
                                type: "get",
                                url:"/ajax/collect.php",
                                data: {act:'collect',type:'delete',id:goods_id},
                                dataType: "json",
                                success: function(data) {
                                    if(parseInt(data.status) == 1){
                                        alert(data.info);

                                        _span.removeClass('icon-star-block').addClass('icon-star-line').html('&#xe946;');
                                        $('.collect').removeClass('bd-1-bl-d cl-bl-l').addClass('bd-1-a cl-9');

                                    } else if(parseInt(data.status) == 404){
                                        window.location.href = data.info;
                                    } else {
                                        alert(data.info);
                                    }
                                }
                            });
                        }else{
                            _span.removeClass('icon-star-line').addClass('icon-star-block').html('&#xe945;');
                            $('.collect').removeClass('bd-1-a cl-9').addClass('bd-1-bl-d cl-bl-l');
                        }
                    });
                }

            });

            getCartNum();

            //公共：加入购物车
            $('.addcart').on('click',function(){
                var goods_id = $(this).attr('goods-id');
                var number = $(this).attr('goods-number');
                $.ajax({
                    type: "post",
                    url:"/ajax/cart.php?act=add",
                    data: {id:goods_id,number: typeof(number) == 'undefined' ? 1 :number},
                    dataType: "json",
                    success: function(data) {
                        if(parseInt(data.status) == 404){
                            window.location.href = data.info;
                        }else{
                            if(data.status == 200){
                                $('.cart_num').addClass('bc-rd-d pd-0005').html(data.list_number);
                            }
                            alert(data.info);
                        }
                    },error:function(){
                        alert('加入失败');
                    }
                });
            });

            //公共：签到
            $('.checkin').on('click',function(){
                $.ajax({
                    type: "post",
                    url:"/ajax/checkin.php?act=signed",
                    data: {},
                    dataType: "json",
                    success: function(data) {
                        if(parseInt(data.status) == 404){
                            window.location.href = data.info;
                        }else{
                            alert(data.info);
                        }
                    },error:function(){
                        alert('签到失败');
                    }
                });
            });

        });

        //获取购物车的数量
        function getCartNum(){
            var num = getCookie('gwshoppingcart');
            if(num == null){
                //公共：购物车数量统计
                $.ajax({
                    type: "get",
                    url:"/ajax/cart.php?act=count",
                    dataType: "json",
                    success: function(data) {
                        if( parseInt(data.status) == 200 && parseInt(data.list_number)>0){
                            $('.cart_num').addClass('bc-rd-d pd-0005').html(data.list_number);
                        }
                    }
                });
            }
            if(num >0 ){
                $('.cart_num').addClass('bc-rd-d pd-0005').html(num);
            }
        }

        function getCookie(name) {
            var arr,reg=new RegExp("(^| )"+name+"=([^;]*)(;|$)");
            if(arr=document.cookie.match(reg))
                return unescape(arr[2]);
            else
                return null;
        }

        // 进度条
        $('.progress-box').progress();

    </script>
</body>
</html>
<script type="text/javascript">
    //wx轮询变量
    var objTimer = null;

    //去支付
    function payOrder(_this){
        var channel = "";
        $(".tab-pay").find("li").each(function(){
            if ($(this).hasClass('on-tab')) {   //选中的
                channel = $(this).attr('data-channel');
            }
        });
        var pay_id = $('#pay_id').val();
        var amount = 33.86;

        if(channel == ""){
            alert("请选择支付方式");return;
        }

        if($(_this).hasClass('bc-c3')){
            alert("如果确认重新支付,请刷新页面！");
            return false;
        }
        $(_this).removeClass('bc-bl').addClass('bc-c3');

        //余额与银行多跳转一个页面
        if(channel == "bank" || channel == "blance"){
            //判断当前pay_id重复
            $.ajax({
                type: "post",
                url: "/cashier/pay.php",
                dataType: "json",
                data: { "act": "chechPayId","pay_id":pay_id},
                success: function (data) {
                    if(data.code == "0000"){
                        window.location= "/cashier/pay.php" + "?act=check&channel=" + channel + "&pay_id="+pay_id;
                    }else{
                        alert(data.msg);
                        if(data.url){
                            setTimeout("top.location.href = '" + data.url + "'", 2000);
                        }
                        return;
                    }
                }
            });

        }else{
            $.ajax({
                type: "post",
                url:"/cashier/pay.php",
                data: {act:"pay",pay_id:pay_id,channel:channel,amount:amount},
                dataType: "json",
                success: function(data) {
//                    console.log(11,data);
                    if( data.code == '0000' ){
                        if(channel == 'wxPay'){
                            $url = "http://www.bookuu.com/cashier/pay.php?act=getQrcode&code="+data.return_url;

                            $('.popup-box.wxpay').removeClass('hidden visible');
                            $('.overlay').remove();
                            $('body').append('<div class="overlay"></div>');
                            $('#wxpay_qrcode').css("background-image","url("images/ad7358d04305436590aeb158a8eca88b.gif")");
                            $('html').addClass('oh');

                            var pay_order_id = data.pay_assist_id;
                            //轮询查询订单
//创建
                            objTimer=setInterval(function(){loopQuery(pay_id)},5000);

                            function loopQuery(pay_id) {
                                $.ajax({
                                    type: "post",
                                    url: "/cashier/notify/wx_query.php",
                                    dataType: "json",
                                    data: { "pay_order_id": pay_order_id},
                                    success: function (query_data) {
                                        if(query_data.code == "0000"){
                                            if(query_data.msg == "suc") {
                                                clearInterval(objTimer);
                                                window.location= query_data.return_url + '?pay_id=' +pay_id;
                                            }
//                                            console.log('wait');
                                        }else{
                                            //销毁
                                            clearInterval(objTimer);
                                            alert(query_data.msg);
                                        }

                                    }
                                });
                            }

                        }else if(channel == 'alipayBlance'){
                            showPopup('.alipay', '提示');
                            window.open(data.return_url);
//                            window.location= data.return_url;
                        }
                    }else{
                        alert(data.msg);
                        if(data.url){
                            setTimeout("top.location.href = '" + data.url + "'", 2000);
                        }
                    }
                }
            });
        }
    }

    function reloadPay(){
        window.location.reload();
    }

    // 懒加载
//    lazyLoading();
    // 支付方式
    $('.tab-pay li').on('click', function(){
        var _this = $(this);
        if( _this.data('channel') === 'blance' ){
            var amount = 33.86;
            var available_money = 0;

            if(available_money < amount){
                alert("余额不足,请选择其他支付方式");
                return;
            }

            var has_no_phone = 0;
            if(has_no_phone == 1){
                showPopup('.blancepay', '提示');
                return;
            }
        }
        $(".tab-pay").find("li").each(function(){
            if ($(this).hasClass('on-tab')) {   //选中的
                channel = _this.attr('data-channel');
                console.log(channel,$(this).data('channel'));
                if(channel != $(this).data('channel')){ //重新去支付
                    $('#pay_submint_button').removeClass('bc-c3').addClass('bc-bl');
                }
            }
        });
        // tab
        var _index = _this.index(),
                _parent = _this.parents('.tab-pay'),
                _checkbox = _this.find('input[type=checkbox]'),
                _img = _this.find('input[type=checkbox]').siblings('img');
        // 自己不可不选
        _parent.find('li').removeClass('on-tab');
        _this.addClass('on-tab');
        _checkbox.prop('checked', true);
        _parent.find('input[type=checkbox]').siblings('img').attr('src', 'http://bnmpstyle.bookuu.com/www/images/svg/checkbox-block.png');
        _img.attr('src', 'http://bnmpstyle.bookuu.com/www/images/svg/checkbox-block2.png');


    });
    // 关闭弹窗
    $('.close-popup').on('click', function(){
        clearInterval(objTimer);

        $(this).parents('.popup-box').removeClass('hidden visible').addClass('hidden');
        $('.overlay').remove();
        $('html').removeClass('oh');
        reloadPay();
    });


    function closePopupAlipay(_this){
        $('.overlay').remove();
        $(_this).parents('.popup-box').removeClass('hidden visible').addClass('hidden');
        reloadPay();
    }

    //余额弹窗
    function closePopupBlance(_this){
        $('.overlay').remove();
        $(_this).parents('.popup-box').removeClass('hidden visible').addClass('hidden');
//        reloadPay();
    }

</script>