<!DOCTYPE html>
<html>
<head>
{include file="common/index/head.html"}
        <script>
            var host = "http://bnmppic.bookuu.com";
        </script>
        <script type="text/javascript" src="__JS__/cart.js"></script>

        <div class="section" style="margin-top:100px">
            <div class="wd-1200 ma">
                <p class="ht-50 lh-50">
                    <span class="fl fs-18">我的购物车</span>
                    <span class="fr cl-9">温馨提示:1.购物车中的商品无法保留库存，请您尽快完成购买。2.商品的价格和库存将以订单提交时为准哦。</span>
                    <div class="cb"></div>
                </p>
                <table width="100%" class="total-box tablecart">
                    <thead class="thead-1">
                        <tr>
                            <td align="center" width="40" class="pr fs-15">
                                <input type="checkbox" class="choose choose-total choose-total product pafull-box op-0">
                                <span class="icon-checkbox-line cl-c">&#xe914;</span>
                            </td>
                            <td width="40">全选</td>
                            <td width="450">商品信息</td>
                            <td align="center" width="160">单价</td>
                            <td align="center" width="120">数量</td>
                            <td align="center"></td>
                            <td align="center" width="200">金额(元)</td>
                            <td>操作</td>
                        </tr>
                    </thead>
                </table>
                <table width="100%" class="choose-container ta-lf tablecart">
                    <tbody class="choose-box">
                        <tr class="lh-50 ht-50 fs-16 ">
                            <td align="center" width="40" class="pr fs-15">
                                <input type="checkbox" class="choose choose-all product pafull-box zi-1 op-0">
                                <span class="icon-checkbox-line cl-c">&#xe914;</span>
                            </td>
                            <td colspan="7" align="left">自营&nbsp;&nbsp;运费：<span name="postageinfo" data-poatage="59" data-poatagerule="5">5.00</span></td>
                        </tr>
                        <tr id="ssid_1">
                            <td colspan="8" class="fs-16 lh-50 pd-0010">图书仓</td>
                        </tr>
                        <tr class="goods-box" id="goods_id_100930872">
                            <td colspan="8">
                                <div class="typecart-2">
                                    <ul class="bb-1-e8 delete-box wd-1200 pd-0500">
                                        <li class="pr ta-ct wd-80 ht-80 fl fs-15">
                                            <input type="checkbox" data-free="" data-id="100930872" data-economize="13.26" data-multi-id="119" data-goods-ssid="1" class="choose choose-child product pafull-box zi-1 op-0">
                                            <span class="icon-checkbox-line cl-c">&#xe914;</span>
                                        </li>
                                        <li class="wd-450 ht-100 fl">
                                            <div class="fl wd-100">
                                                <a class="db square-box one-one bgimg lazyload hidden" data-bgimg="background-image: url(http://bnmppic.bookuu.com/goods/19/26/10/3806021-fm.jpg);" href="http://www.bookuu.com/detail.php?id=100930872"></a>
                                            </div>
                                            <div class="fr wd-300 ">
                                                <p class="ht-60 lh-20 oh mt-8">芳华(精)</p>
                                                <p class="ht-25 lh-25 oh mt-10"></p>
                                            </div>
                                            <div class="cb"></div>
                                        </li>
                                        <li class="ta-ct wd-160 fl lh-30">
                                            <del class="cl-9 mt-10">¥39.00</del>
                                            <p class="fs-16">¥<span class="money">25.74</span></p>
                                            <!-- <label class="cl-bl-l bd-1-bl-d bc-bl-l pd-0208 br-2">卖家促销<span class="icon-down-line ml-5 fs-13">&#xe91e;</span></label> -->
                                        </li>
                                        <li class="ta-ct wd-120 fl">
                                            <div class="count-box mt-35">
                                                <div class="count-sub fl cl-c" data-price="25.74" data-id="100930872" onclick="Sub(this);">-</div>
                                                <input class="text fl number-box" type="tel" data-id="100930872" data-count="16125" data-max="16125" value="1" onkeyup="input_Change(this);">
                                                <div class="count-add fr" data-price="25.74" data-id="100930872" onclick="Add(this);">+</div>
                                                <div class="cb"></div>
                                            </div>
                                        </li>
                                        <li>
                                        </li>
                                        <li class="fs-16  cl-rd ta-ct wd-200 fl mt-35">¥<span>25.74</span></li>
                                        <li class="fs-16 wd-120 fl">
                                            <p class=" mt-35" onclick="del_collect(this)" data-id="100930872">取消收藏</p>
                                            <span class="cl-bl-l cp" onclick="deleteConfirm(this, 'product');" data-id="100930872">删除</span>
                                        </li>
                                        <div class="cb"></div>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr class="goods-box" id="goods_id_100105481">
                            <td colspan="8">
                                <div class="typecart-2">
                                    <ul class="bb-1-e8 delete-box wd-1200 pd-0500">
                                        <li class="pr ta-ct wd-80 ht-80 fl fs-15">
                                            <input type="checkbox" data-free="" data-id="100105481" data-economize="6.96" data-multi-id="131" data-goods-ssid="1" class="choose choose-child product pafull-box zi-1 op-0">
                                            <span class="icon-checkbox-line cl-c">&#xe914;</span>
                                        </li>
                                        <li class="wd-450 ht-100 fl">
                                            <div class="fl wd-100">
                                                <a class="db square-box one-one bgimg lazyload hidden" data-bgimg="background-image: url(http://bnmppic.bookuu.com/goods/20/20/27/2601143.jpg);" href="http://www.bookuu.com/detail.php?id=100105481"></a>
                                            </div>
                                            <div class="fr wd-300 ">
                                                <p class="ht-60 lh-20 oh mt-8">追风筝的人</p>
                                                <p class="ht-25 lh-25 oh mt-10"></p>
                                            </div>
                                            <div class="cb"></div>
                                        </li>
                                        <li class="ta-ct wd-160 fl lh-30">
                                            <del class="cl-9 mt-10">¥29.00</del>
                                            <p class="fs-16">¥<span class="money">22.04</span></p>
                                            <!-- <label class="cl-bl-l bd-1-bl-d bc-bl-l pd-0208 br-2">卖家促销<span class="icon-down-line ml-5 fs-13">&#xe91e;</span></label> -->
                                        </li>
                                        <li class="ta-ct wd-120 fl">
                                            <div class="count-box mt-35">
                                                <div class="count-sub fl cl-c" data-price="22.04" data-id="100105481" onclick="Sub(this);">-</div>
                                                <input class="text fl number-box" type="tel" data-id="100105481" data-count="23953" data-max="23953" value="2" onkeyup="input_Change(this);">
                                                <div class="count-add fr" data-price="22.04" data-id="100105481" onclick="Add(this);">+</div>
                                                <div class="cb"></div>
                                            </div>
                                        </li>
                                        <li>
                                        </li>
                                        <li class="fs-16  cl-rd ta-ct wd-200 fl mt-35">¥<span>44.08</span></li>
                                        <li class="fs-16 wd-120 fl">
                                            <p class=" mt-35" onclick="del_collect(this)" data-id="100105481">取消收藏</p>
                                            <span class="cl-bl-l cp" onclick="deleteConfirm(this, 'product');" data-id="100105481">删除</span>
                                        </li>
                                        <div class="cb"></div>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" class="mt-10 total-box tablecart">
                    <tfoot>
                        <tr>
                            <td align="center" width="40" class="pr fs-15">
                                <input type="checkbox" class="choose choose-total product pafull-box op-0">
                                <span class="icon-checkbox-line cl-c">&#xe914;</span>
                            </td>
                            <td>全选</td>
                            <td>
                                <label class="pd-0030 cl-9">已选<span class="pd-0010 amounts-box">0</span>件</label>
                                <span class="cp  fs-16 op-60 button-delete" onclick="deleteConfirm(this, 'all');">删除选中商品</span>
                            </td>
                            <td colspan="4" align="right" class="lh-30" width="550">
                                <p class="pd-0010">应付金额(不含运费): <label class="cl-rd">¥<span class="fs-22  money-box">0.00</span></label></p>
                                <p class="pd-0010 cl-6">商品合计 ¥<span class="money-box withpostage">0.00</span><span class="pd-0015">邮费：¥<span class="postage">0.00</span></span><!--您已从本次购买中<span class=" cl-21">节省了<span class="economize_num">0</span>元</span>--></p>
                            </td>
                            <td align="center">
                                <a class="fs-24  cl-f db bc-dg" href="javascript:void(0);" id="tobuy">去结算</a>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                
            </div>
        </div>

        <!-- 底部 -->

        <!-- 底部 -->
        <div class="footer">
            <!-- tag -->
            <div class="tag">
                <ul class="clearfix">
                    <li class="cl-4 lh-25 pd-0500 wd-25p fl">
                        <img src="picture/zheng.png" alt="" width="50" height="50" class="fl mr-10" />
                        <div class="fl">
                            <p class="fs-24 ">全场正品</p>
                            <p>新华书店·正品保证</p>
                        </div>
                        <div class="cb"></div>
                    </li>
                    <li class="cl-4 lh-25 pd-0500 wd-25p fl">
                        <img src="picture/sheng.png" alt="" width="50" height="50" class="fl mr-10" />
                        <div class="fl">
                            <p class="fs-24 ">全场满额包邮</p>
                            <p>惊喜不断·让利多多</p>
                        </div>
                        <div class="cb"></div>
                    </li>
                    <li class="cl-4 lh-25 pd-0500 wd-25p fl">
                        <img src="picture/huo.png" alt="" width="50" height="50" class="fl mr-10" />
                        <div class="fl">
                            <p class="fs-24 ">门店自取</p>
                            <p>就近取货·方式灵活</p>
                        </div>
                        <div class="cb"></div>
                    </li>
                    <li class="cl-4 lh-25 pd-0500 wd-25p fl">
                        <img src="picture/hao.png" alt="" width="50" height="50" class="fl mr-10" />
                        <div class="fl">
                            <p class="fs-24 ">售后无忧</p>
                            <p>服务体验·更加精彩</p>
                        </div>
                        <div class="cb"></div>
                    </li>
                </ul>
            </div>
            <div class="wd-1200 ma pd-2000 clearfix">
                <ul class="links-box fl clearfix">
                    <li class="lh-30 wd-20p fl">
                        <span class="db fs-16 lh-40 ">新手指南</span>
                        <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=2&cid=9&cid_name=新用户注册">新用户注册</a></div>
                        <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=2&cid=10&cid_name=购物流程">购物流程</a></div>
                        <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=2&cid=11&cid_name=积分制度">积分制度</a></div>
                        <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=2&cid=12&cid_name=注册开店">注册开店</a></div>
                        <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=2&cid=13&cid_name=激励制度">激励制度</a></div>
                    </li>
                    <li class="lh-30 wd-20p fl">
                        <span class="db fs-16 lh-40 ">支付与配送</span>
                        <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=3&cid=14&cid_name=IC卡充值说明">IC卡充值说明</a></div>
                        <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=3&cid=15&cid_name=验货与签收">验货与签收</a></div>
                        <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=3&cid=16&cid_name=配送范围">配送范围</a></div>
                        <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=3&cid=17&cid_name=自行取货">自行取货</a></div>
                        <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=3&cid=18&cid_name=支付方式">支付方式</a></div>
                    </li>
                    <li class="lh-30 wd-20p fl">
                        <span class="db fs-16 lh-40 ">售后服务</span>
                        <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=5&cid=19&cid_name=发票制度">发票制度</a></div>
                        <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=5&cid=21&cid_name=退换货流程">退换货流程</a></div>
                        <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=5&cid=35&cid_name=退换货地址">退换货地址</a></div>
                    </li>
                    <li class="lh-30 wd-20p fl">
                        <span class="db fs-16 lh-40 ">个人中心</span>
                        <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=6&cid=27&cid_name=店铺设置">店铺设置</a></div>
                        <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=6&cid=28&cid_name=团队管理">团队管理</a></div>
                        <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=6&cid=29&cid_name=收入管理">收入管理</a></div>
                        <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=6&cid=30&cid_name=我的订单">我的订单</a></div>
                        <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=6&cid=31&cid_name=我的优惠券">我的优惠券</a></div>
                        <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=6&cid=32&cid_name=我的等级">我的等级</a></div>
                    </li>
                    <li class="lh-30 wd-20p fl">
                        <span class="db fs-16 lh-40 ">了解博库</span>
                        <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=37&cid=38&cid_name=关于博库">关于博库</a></div>
                        <div><a  target="_blank" class="hover cl-6" href="//www.bookuu.com/help.php?act=list&pid=37&cid=39&cid_name=联系我们">联系我们</a></div>
                        <div><a  target="_blank" class="hover cl-6" href="http://job.bookuu.com/">公司招聘</a></div>
                    </li>
                </ul>
                <div class="code-box fr">
                    <ul class="clearfix">
                        <li class="cl-6 lh-30 ta-ct wd-50p fl">
                            <p class="fs-16 lh-40 ">手机博库</p>
                            <img data-src="picture/app.jpg" align="" width="105" height="105" class="db hidden bd-1-d ma">
                            <p class="lh-30">下载手机客户端</p>
                        </li>
                        <li class="cl-6 lh-30 ta-ct wd-50p fl">
                            <p class="fs-16 lh-40 ">关注微信</p>
                            <img data-src="picture/wx.jpg" align="" width="105" height="105" class="db hidden bd-1-d ma">
                            <p class="lh-30">关注官方微信</p>
                        </li>
                    </ul>
                    <div class="cl-6 lh-25 mt-15">
                        <p class="fs-16 fw-bd">服务热线&nbsp;0571-26306883</p>
                        <p>服务时间&nbsp;9：00-21：00</p>
                    </div>
                </div>
            </div>
            <!-- copyright -->
            <div class="copyright">
                <div class="wd-605 ma cl-9 ta-ct" style="width: 656px;">
                    <div class="fl lh-50">
                        <img src="picture/jingcha.png" alt="" height="36" class="va-md pd-0005">
                        <a href="/system/refer.php" target="_blank"><img src="picture/huizhang.png" alt="" height="36" class="va-md pd-0005"></a>
                        <!--<a href="http://www.itrust.org.cn/yz/pjwx.asp?wm=1575312902" target="_blank"><img src="picture/xin.png" alt="" height="36" class="va-md pd-0005"></a>-->
                    </div>
                    <div class="fl pd-0010">
                        <p>©Copyright 2005-2017 bookuu.com 版权所有</p>
                        <p>增值电信业务经营许可证:浙B2-2011021</p>
                    </div>
                    <div class="fl lh-50">
                        <a href="https://ss.knet.cn/verifyseal.dll?sn=e14082133010052836nfbw000000&comefrom=trust&trustKey=dn&trustValue=www.bookuu.com" target="_blank"><img src="picture/knetseallogo.png" alt="" height="30" class="va-md pd-0005"></a>
                        <a href="https://credit.szfw.org/CX20160711016212850139.html" target="_blank"><img src="picture/cert.png" alt="" height="30" class="va-md pd-0005"></a>
                    </div>
                    <div class="cb"></div>
                </div>
            </div>
        </div>
        <script>
            $(function(){
            //频道 tab切换
            $(".my_tab").click(function(){
                var tabId = $(this).attr("data-id");
                $(this).addClass('on-click');
                $(this).siblings().removeClass('on-click');

                $("#my_tab_"+tabId).removeClass("dn");
                $("#my_tab_"+tabId).siblings(".my_tab_content").addClass('dn');
            });
        });

        // 懒加载
        lazyLoading();

        // 菜单
        mouseenterAndTab();
        
        $(function(){

            //公共：加入收藏
            $('.collect').on('click', function(){
                var _span = $(this).find('span');

                var goods_id = $(this).attr('goods-id');
                if( _span.hasClass('icon-star-line') ){
                    $.ajax({
                        type: "get",
                        url:"/ajax/collect.php",
                        data: {act:'collect',type:'add',id:goods_id},
                        dataType: "json",
                        success: function(data) {
                            if(parseInt(data.status) == 1){
                                alert(data.info);

                                _span.removeClass('icon-star-line').addClass('icon-star-block').html('&#xe945;');
                                $('.collect').removeClass('bd-1-a cl-9').addClass('bd-1-bl-d cl-bl-l');
                                


                            } else if(parseInt(data.status) == 404){
                                window.location.href = data.info;
                            } else {
                                alert(data.info);
                            }
                        }
                    });
                }else{
                    confirm('', '你要取消收藏该商品吗?', '', function(res){
                        if (res) {
                            $.ajax({
                                type: "get",
                                url:"/ajax/collect.php",
                                data: {act:'collect',type:'delete',id:goods_id},
                                dataType: "json",
                                success: function(data) {
                                    if(parseInt(data.status) == 1){
                                        alert(data.info);

                                        _span.removeClass('icon-star-block').addClass('icon-star-line').html('&#xe946;');
                                        $('.collect').removeClass('bd-1-bl-d cl-bl-l').addClass('bd-1-a cl-9');

                                    } else if(parseInt(data.status) == 404){
                                        window.location.href = data.info;
                                    } else {
                                        alert(data.info);
                                    }
                                }
                            });
                        }else{
                            _span.removeClass('icon-star-line').addClass('icon-star-block').html('&#xe945;');
                            $('.collect').removeClass('bd-1-a cl-9').addClass('bd-1-bl-d cl-bl-l');
                        }
                    });
                }

            });

            getCartNum();

            //公共：加入购物车
            $('.addcart').on('click',function(){
                var goods_id = $(this).attr('goods-id');
                var number = $(this).attr('goods-number');
                $.ajax({
                    type: "post",
                    url:"/ajax/cart.php?act=add",
                    data: {id:goods_id,number: typeof(number) == 'undefined' ? 1 :number},
                    dataType: "json",
                    success: function(data) {
                        if(parseInt(data.status) == 404){
                            window.location.href = data.info;
                        }else{
                            if(data.status == 200){
                                $('.cart_num').addClass('bc-rd-d pd-0005').html(data.list_number);
                            }
                            alert(data.info);
                        }
                    },error:function(){
                        alert('加入失败');
                    }
                });
            });

            //公共：签到
            $('.checkin').on('click',function(){
                $.ajax({
                    type: "post",
                    url:"/ajax/checkin.php?act=signed",
                    data: {},
                    dataType: "json",
                    success: function(data) {
                        if(parseInt(data.status) == 404){
                            window.location.href = data.info;
                        }else{
                            alert(data.info);
                        }
                    },error:function(){
                        alert('签到失败');
                    }
                });
            });

        });

        //获取购物车的数量
        function getCartNum(){
            var num = getCookie('gwshoppingcart');
            if(num == null){
                //公共：购物车数量统计
                $.ajax({
                    type: "get",
                    url:"/ajax/cart.php?act=count",
                    dataType: "json",
                    success: function(data) {
                        if( parseInt(data.status) == 200 && parseInt(data.list_number)>0){
                            $('.cart_num').addClass('bc-rd-d pd-0005').html(data.list_number);
                        }
                    }
                });
            }
            if(num >0 ){
                $('.cart_num').addClass('bc-rd-d pd-0005').html(num);
            }
        }

        function getCookie(name) {
            var arr,reg=new RegExp("(^| )"+name+"=([^;]*)(;|$)");
            if(arr=document.cookie.match(reg))
                return unescape(arr[2]);
            else
                return null;
        }

        // 进度条
        $('.progress-box').progress();

    </script>

</body>
</html>
<script type="text/javascript">

    // 全选
    $('body').on('click', '.choose', function () {
        var _this = $(this),
        _type = 'checkbox',
        _bool = false;
        // 选择状态
        if (_this.hasClass('product')) check(_this, _type, _bool);
        getEconomize();
    });
    // 默认全选
    $(function () {

        $('.choose:checkbox').attr('checked', true);
        $('.choose.choose-total').trigger('click').off('click');

    });


    $("#tobuy").click(function () {

        var goods_ids = get_ids();

        if (!goods_ids) {
            alert('请选择要结算的商品!');
            return false;
        }
        $.post(
            'shoppingcart.php',
            {act:'buy',goods_ids:goods_ids},
            function (data) {
                if (data.status) {
                    window.location.href = 'http://www.bookuu.com/order/confirm.php';
                } else {
                    if (data.info) {
                        window.location.href = data.info;
                    } else {
                        alert(data.message);
                    }
                }
            }, 'json'
            );

        return false;
    });

    function in_collect(obj) {
        var $this = $(obj);
        var goods_id = $this.data('id');
        if (!goods_id) {
            return;
        }

        $.post(
            'shoppingcart.php',
            {act:'collect',goods_id:goods_id},
            function (data) {

                if (data.status) {
                    $this.attr('onclick', 'del_collect(this)');
                    $this.html('取消收藏');
                } else {
                    if (data.info) {
                        window.location.href = data.info;
                    } else {
                        alert(data.message);
                    }
                }
            }, 'json'
            );
    }

    function del_collect(obj) {

        var $this = $(obj);
        var goods_id = $this.data('id');
        if (!goods_id) {
            return;
        }

        confirm($this, '您确定要取消该收藏商品吗?', 'all', function (res) {
            if (res) {
                $.post(
                    'shoppingcart.php',
                    {act:'collect_delete',goods_id:goods_id},
                    function (data) {
                        if (data.status) {
                            $this.attr('onclick', 'in_collect(this)');
                            $this.html('移入收藏夹');
                        } else {
                            if (data.info) {
                                window.location.href = data.info;
                            } else {
                                alert(data.message);
                            }
                        }
                    }, 'json'
                    );
            }
        });
    }
</script>