<!DOCTYPE html>
<html>
{include file="common/index/head.html"}

<!-- 分类 -->
<div class="nav-box">
    <div class="type fl public">
        <a target="_blank" class="db cl-f title" href="//www.bookuu.com/category.php"><span class="icon-type-line cl-f mr-10 pr tp-2">&#xe95d;</span>所有商品分类</a>

        <!-- 导航 -->
        <div class="wd-1200 ma pr">
            <div class="menu-hover public">
                <!-- 菜单 -->
                <!-- 公共 菜单 展示页 -->
                <div class="menu fl mouseenter-box">
                    {include file="common/index/menu.html"}
                </div>

            </div>
        </div>
    </div>
    <div class="nav fl">
        <!--固定导航菜单-->
        {include file="common/index/lead.html"}
    </div>
    <div class="cb"></div>
</div>
</div>
</div>
<link href="__CSS__/jcountdown.css" rel="stylesheet" type="text/css">
    <div class="section">
        <div class="wd-1200 ma">

<!--             <p class="lh-50 cl-3">
                您的当前位置：<a target="_blank" href="//www.bookuu.com/category.php">全部分类</a> ＞ <a target="_blank" href="http://www.bookuu.com/search.php?cid=10">图书</a> > <a target="_blank" href="http://www.bookuu.com/search.php?cid=1037">童书</a> > <a target="_blank" href="http://www.bookuu.com/search.php?cid=103708">幼儿启蒙</a> > <a target="_blank" href="http://www.bookuu.com/search.php?cid=10370802">图画故事</a>
            </p> -->

            <!-- 商品详情 -->
            <input type="hidden" id="goodId" value="{$result.good_id}">
            <div class="clearfix pt-20">
                <div class="fl wd-430 mr-20">
                    <!-- 商品展示 大图-->
                    <div id="slider" class="flexslider bd-1-f5 ht-430">
                        <img src="/uploads/{$result.good_pic}" width="300" height="350">
                    </div>

                    <!-- 商品展示 小图-->
<!--                     <div id="carousel" class="flexslider bd-1-f5">
                        <ul class="slides">
                            <li data-thumb="/uploads/{$result.good_pic}" class="cp">
                             <div class="db square-box one-one bgimg lazyload hidden initial" data-bgimg="background-image: url(/uploads/{$result.good_pic});" data-tmp="/uploads/{$result.good_pic}"></div>
                         </li>
                     </ul>
                 </div> -->

             </div>
             <!-- 商品名称 -->
             <div class="fl wd-520">
                <p class="fs-18 cl-3 lh-40 to-hd fw-bd mb-10">
                    <span id="www_goods_tags" class="cl-rd-l"></span>
                    {$result.good_name}
                </p>
                <div class="cl-9 mt-10 lh-30 mb-10">
                    作者：<span class="cl-bl-l mr-50">{$result.good_author}</span>
                    出版社：<span class="cl-bl-l">{$result.good_product}</span>
                </div>
                <!--定位-->
                <input type="hidden" id="www_goods_rushbuy_info" value="">
                <!-- 今日 限时抢购活动-->



                <!-- 价格和优惠活动-->
                <div class="bc-e5 pd-15">
                    <table width="100%" class="lh-30">
                        <tr>
                            <td width="70" class="cl-9">定　价</td>
                            <td class="cl-3">
                                <del id="www_goods_market_price"></del>
                            </td>
                        </tr>
                        <tr>
                            <td width="70" class="cl-9 lh-40">售　价</td>
                            <td>
                                <label class="cl-rd">
                                    <span class="fs-28 mr-10 pr tp-5" id="www_goods_price"></span>
                                </label>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="pd-0015">
                    <table width="100%" class="lh-30 mt-10">

                        <tr id="www_goods_activity_info">

                        </tr>
                        <tr>
                            <td width="70" class="cl-9">运费</td>
                            <td class="cl-3" id="www_goods_post_money">123</td>
                        </tr>

                        <input type="hidden" id="sku_deelp" value="0">

                        <!--定位-->
                        <input type="hidden" id="www_good_sale_info" value="">


                        <tr>
                            <td width="70" class="cl-9">数量</td>
                            <td class="cl-3 clearfix">
                                <div class="count-box mt-2 mr-20 fl clearfix">
                                    <div class="count-sub fl cl-c" onclick="MycountSub(this);">-</div>
                                    <input class="text fl number-box" type="tel" value="1" onkeyup="MyinputChange(this);">
                                    <div class="count-add fr" onclick="MycountAdd(this);">+</div>
                                </div>
                                <sapn id="www_goods_stores" class="cl-9 fl goods-store" goods-store="15">

                                </sapn>
                            </td>
                        </tr>
                    </table>
                </div>

                <input type="hidden" id="rush_goods_id" value="100454034"><!--传id-->


                <!-- 加入购物车 -->


                <!-- 服务 -->
                <table width="100%" class="cl-6 lh-60">
                    <tr>
                        <td width="70" class="cl-9">服务</td>
                        <td>
                            <label class="mr-30">
                                <span class="icon-right-block cl-rd-l mr-2">&#xe934;</span>
                                <span>七天无理由退换货</span>
                            </label>
                            <label id="www_goods_integral">

                            </label>
                        </td>
                    </tr>
                </table>
                
            </div>

        </div>

        <!-- 大家都在看 -猜你喜欢 -->
        <div class="mt-40 bc-f3 border-patch">
            <div class="lh-40 bc-f3 pd-0020 fs-18">大家都在看</div>

            <!-- 商品列表 -->
                <div class="pt-5">
                    <div class="flexslider product-six box-shadow">

                        <div class="flex-viewport" style="overflow: hidden; position: relative;">

                        <ul class="slides mouseenter-box scale-box"
                        style="width: 2800%; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">\
                        {foreach $look as $v}
                        <li class="ta-ct" style="width: 200px; margin-right: 0px; float: left; display: block;">
                                    <div class="mg-5 mouseenter mouseleave">
                                        <div class="scale pd-10 oh"><a class="db square-box one-one bgimg lazyload visible"
                                         data-bgimg="background-image: url(/uploads/{$v->good_pic});"
                                         href="{:url('/Index/Books/detail/bookid/'.$v->good_id)}"
                                         style="background-image: url(/uploads/{$v->good_pic});">
                                     </a></div>
                                     <div class="context">
                                        <a class="db cl-6 ht-36 lh-18 oh mt-5" href="{:url('/Index/Books/detail/bookid/'.$v->good_id)}">
                                            {$v->good_name}
                                        </a>
                                        <div>
                                            <span class="fs-16 cl-rd-l">¥{$v->good_showprice}</span>
                                            <span class="cl-9">|</span>
                                            <del class="fs-12 cl-9">¥{$v->good_price}</del>
                                        </div>
                                    </div>
                        </div>
                        </li>
                        {/foreach}
                        </ul>

                    </div>


                </div>
            </div>

        </div>

<!-- 商品详情内容 -->
<div class="clearfix mt-40 goods_destail_show">
    <!-- 新书推荐 左侧模块-->
    <div class="wd-220 fl mouseenter-box scale-box">

        <div class="mb-20 bd-1-e8">
            <div class="fs-18 lh-50 bc-f3 ta-ct">新品推荐</div>
            {foreach $new as $n}
            <div class="ta-ct mg-8 bt-1-e8 mouseenter mouseleave">
                <div class="scale pd-10 oh">
                    <a class="db square-box one-one bgimg lazyload hidden" data-bgimg="background-image: url(/uploads/{$n->good_pic});" target="_blank" href="{:url('/Index/Books/detail/bookid/'.$n->good_id)}"></a>
                </div>
                <div class="context">
                    <a class="db ht-36 lh-18 oh mt-5 cl-6 pd-0020" href="{:url('/Index/Books/detail/bookid/'.$n->good_id)}" target="_blank">{$n->good_name}</a>
                    <div class="lh-40">
                        <span class="cl-rd-l">¥{$n->good_showprice}</span>
                        <span class="cl-9">|</span>
                        <del class="fs-12 cl-9">¥{$n->good_price}</del>
                    </div>
                </div>
            </div>
            {/foreach}
        </div>

    </div>

    <!-- 商品详情，累计评价 -->
    <div class="wd-970 fr clearfix pr">

        <div class="wd-840">
            <!-- 商品详情 -->
            <div class="bd-1-e8">
                <div class="lh-50 ht-50 bc-f5 ta-ct clearfix" id="anchor-detail">
                    <div class="wd-120 fl bc-f" id="link-detail2" onclick="linkTo(this, 'detail');">商品详情
                        <div class="triangle-border"><span class="icon-triangle-block3">&#xe959;</span></div>
                    </div>
                </div>

                <!-- 属性spu 商品参数-->
                <ul class="pd-3040 lh-30 cl-3">
                    <li class="wd-33p fl">
                        <span>商品标识：</span><span>{$result->good_id}</span>
                    </li>
                    <li class="wd-33p fl">
                        <span>出版社：</span><span>{$result->good_product}</span>
                    </li>
                    <li class="wd-33p fl">
                        <span>ISBN：</span><span>9787122213785</span>
                    </li>
                    <li class="wd-33p fl">
                        <span>作者：</span><span>{$result->good_author}</span>
                    </li>
                    <li class="wd-33p fl">
                        <span>出版日期：</span><span>{:date('Y-m-d',$result->good_time)}</span>
                    </li>
                    <div class="cb"></div>
                </ul>
            </div>

            <div class="mt-20 pd-10 bd-1-e8 content_height">

                <!-- 详情页面 内容详情 横条广告-->

                <!-- 详情内容栏目和具体描述 锚点 -->
                <ul class="title-anchors">
                    <li>
                        <div class="anchor anchor-box cp">
                            <label class="fl">
                                书籍简介
                            </label>
                            <span class="icon-triangle2-block4" class="fl">&#xe956;</span>
                            <div class="cb"></div>
                        </div>

                        {if empty($result->good_introduce)}
                            <div class="lh-30 cl-6">暂无推荐</div>
                        {else}
                            <div class="lh-30 cl-6">{$result->good_introduce}</div>
                        {/if}
                    </li>

                </ul>
            </div>

            <!-- 商品评价 -->
            <div class="my_plate my_assess mt-20" id="anchor-judge" goods-id="100881857"><div class="bd-1-e8 mt-20"><div class="lh-50 ht-50 bc-f5 pd-0015 fs-18 pr">累计评价<div class="triangle-border"><span class="icon-triangle-block3 fs-14" style="left: 50px;"></span></div></div><div class="ta-ct pd-15 clearfix ht-100 lh-100 pd-0500"><label class="cl-yl fs-24 fl pd-0010 pr tp-s-2">★★★★★</label><p class="fs-40 cl-bl-l fl mr-30" style="position: relative;top: -10px;"><span>0.00</span><span class="fs-14">%好评</span></p><p class="fl"><span class="cl-bl-l">0</span>人评价</p><div class="cb"></div></div></div><div class="mt-20 bd-1-e8 tab-box">
                    <div class="zxc">
                        <div id="content" style="width: 700px; height: auto;">
                            <div class="wrap">
                                <div class="comment">
                                    <div class="head-face">
                                       
                                        {if empty($Think.session.headpic)}
                                            <img src="/static/index/images/default.jpg" / >
                                        {else}
                                            <img src="{$Think.session.headpic}" / >
                                        {/if}
                                        <p>{$Think.session.username}</p>
                                    </div>
                                    <div class="content">
                                        <div class="cont-box">
                                            <textarea class="text" placeholder="请输入..." id="contentsub" name="content"></textarea>
                                        </div>
                                        <div class="tools-box">
                                            <div class="submit-btn"><input type="button" id="commentsub" value="提交评论" /></div>
                                            <input type="hidden" value="{$Think.session.userid}" id="islogin">
                                        </div>
                                    </div>
                                </div>
                                <div id="info-show">
                                    <ul></ul>
                                </div>
                            </div>
                        </div>
                        {$listcomment->render()}
                        {if !empty($listcomment)}
                        {foreach $listcomment as $v}
                        <div id="info-show">
                            <ul><li><div class="head-face"><img src="{$v.headpic}"></div><div class="reply-cont"><p class="username">{$v.username}</p><p class="comment-body">{$v.content}</p><p class="comment-footer">{$v.create_time}　点赞{$v.rate}　</p></div></li></ul>
                        </div>
                        {/foreach}
                        {/if}
                    </div>
<!--                <script type="text/javascript">
                        // 绑定表情
                        // 测试本地解析
                        function out() {
                            var inputText = $('.text').val();
                            $('#info-show ul').append(reply(AnalyticEmotion(inputText)));
                        }
                        
                        var html;
                        function reply(content){
                            html  = '<li>';
                            html += '<div class="head-face">';
                            html += '<img src="images/1.jpg" / >';
                            html += '</div>';
                            html += '<div class="reply-cont">';
                            html += '<p class="username">小小红色飞机</p>';
                            html += '<p class="comment-body">'+content+'</p>';
                            html += '<p class="comment-footer">2016年10月5日　回复　点赞54　转发12</p>';
                            html += '</div>';
                            html += '</li>';
                            return html;
                        }
                    </script> -->
            </div>
        </div>


        </div>
        <!-- 菜单 -->
        <div class="detailmenu-box">
            <!-- <ul id="detail-menu" class="cl-9 anchor-action"> -->
                <ul id="detail-menu" class="cl-9 anchor-action">
                    <li><span class="icon-comma-line comma-patch fs-10">&#xe91a;</span>书籍简介</li>
                </ul>
            </div>
        </div>
    </div>

</div>

<!-- 商品详情动态导航 -->
<div id="detail-nav">
    <div class="wd-1200 ma clearfix">
        <div class="clearfix fr wd-970 ta-ct links-box">
            <div class="wd-120 fl cp br-1-e8 on-click" id="link-detail" goods-id="100454034" onclick="linkTo(this, 'detail');">
                <span class="lh-40">商品详情</span>
                <div class="triangle-border"><span class="icon-triangle-block3">&#xe959;</span></div>
            </div>
            <div class="wd-120 fl cp br-1-e8" id="link-judge" goods-id="100454034" onclick="linkTo(this, 'judge');">
                <label class="lh-40 cp">商品评价</label>
                <div class="triangle-border"><span class="icon-triangle-block3">&#xe959;</span></div>
            </div>
            <div class="fr wd-200 ta-rt lh-35 mt-10">
                <a class="fs-16 bd-1-d br-4 pd-0610 cart-box" href="//www.bookuu.com/shopping/cart.php">
                    <span class="icon-cart-block mr-10 cl-a9 pr tp-3 fs-18">&#xe90e;</span>
                    <span class="mr-5">购物车</span>
                    <label class="cl-f fw-nm br-10 cart_num"></label>
                </a>
            </div>
        </div>
        <div class="cb"></div>
    </div>
</div>

</div>
{include file="common/index/footer.html"}
    <script>
        // 懒加载
        lazyLoading();
        // 菜单
        mouseenterAndTab();
        
        $(function(){

            getCartNum();

        });

        //获取购物车的数量
        function getCartNum(){
            var num = getCookie('gwshoppingcart');
            if(num == null){
                //公共：购物车数量统计
                $.ajax({
                    type: "get",
                    url:"",
                    dataType: "json",
                    success: function(data) {
                        if( parseInt(data.status) == 200 && parseInt(data.list_number)>0){
                            $('.cart_num').addClass('bc-rd-d pd-0005').html(data.list_number);
                        }
                    }
                });
            }
            if(num >0 ){
                $('.cart_num').addClass('bc-rd-d pd-0005').html(num);
            }
        }

        function getCookie(name)
        {
            var arr,reg=new RegExp("(^| )"+name+"=([^;]*)(;|$)");
            if(arr=document.cookie.match(reg))
                return unescape(arr[2]);
            else
                return null;
        }
    </script>
    <script type="text/javascript">
        $('#commentsub').on('click',function(){
            //alert($('#islogin').val());
                $.post(
                    '/index/books/comment',
                    {good_id:$("#goodId").val(),content:$('#contentsub').val()},
                    function(data){
                        console.log(data);
                        if(data.code==0)
                        {
                            alert(data.msg);
                        }
                        if(data.code==1)
                        {
                            alert(data.msg);
                            var html='';
                            html += '<div id="info-show">';
                            html += '<ul>';
                            html += '<li>';
                            html += '<div class="head-face">';
                            html += '<img src="{$Think.session.headpic}" / >';
                            html += '</div>';
                            html += '<div class="reply-cont">';
                            html += '<p class="username">{$Think.session.username}</p>';
                            html += '<p class="comment-body">'+$('#contentsub').val()+'</p>';
                            html += '<p class="comment-footer">{:date('Y-m-d H:i:s')}　点赞0</p>';
                            html += '</div>';
                            html += '</li>';
                            html += '<ul>';
                            html += '</div>';
                            $('.zxc').append(html);
                        }
                    },
                    'json'
                );
        });
    </script>

    <script type="text/javascript">

        $(function(){
            // 商品详情
            $('#slider').flexslider({
                animation: "slide",
                controlNav: false,
                animationLoop: false,
                slideshow: false,
                sync: "#carousel"
            });
            $('#carousel').flexslider({
                animation: "slide",
                controlNav: false,
                animationLoop: false,
                slideshow: false,
                itemWidth: 80,
                itemMargin: 5,
                asNavFor: '#slider'
            });

            // 商品列表
            $('.flexslider.product-six').flexslider({
                animation: "slide",
                animationLoop: false,
                itemWidth: 200,
                itemMargin: 0,
                controlNav: ''
            });
        });

        // 锚点跳转 评论/商品详情 展示
        function linkTo(_this, _type){
            var _anchor = $('#anchor-' + _type).offset().top + 1;
            // 两个商品评价按钮关联
            if( ! $(_this).parents('#detail-menu').length == 0 ){
                _anchor = $('#anchor-' + _type).offset().top;
            }
            $('body, html').animate({scrollTop: _anchor}, 300);      // body兼容chrome，html兼容firefox
            if(_type == 'judge'){
                var content = $('#anchor-'+_type).find('div');
                if(content.length == 0){
                   /* ajaxloadcollect(_type);*/
                }
            }
        }

        // 好评
        $('.good-container').each(function(){
            var _tmp = parseInt( $(this).find('.good-percent').text() );
            if( ! isNaN( _tmp ) ){
                $(this).find('.good-line').animate({ width: _tmp }, 'slow');
            }
        });

        // 单张图片放大
        $('.action-zoom').on('click', function(){
            var _src = $(this).siblings('.square-box.one-one').data('tmp');
            if ( ! _src ) {
                // _src = 'http://bnmpstyle.bookuu.com/wap/images/wu.jpg';
            }
            var obj = {
                color: '#000',
                zoomboxHtml:  '<div class="wd-50p ma"><div class="bgimg square-box one-one" style="background-image: url('images/30f0d1706ba74a80ae92a855a78e2ebf.gif');"></div></div>'
            };
            imgZoom(obj);
        });

        //排序
        function sortt(str){
            var arr = str.split(",");
            arr.sort();
            return arr.join(",");
        }


        //当滚到动 评论模块时候，自动加载内容
        $(window).scroll(function () {
            var bodyheight = 1400;//body 中几个相对固定的div的高度之和
            var headerheight = $(".header").height();//头部高度
            var goodsheight = 550;
            var cainixihuan = '0';
            var detailheight = $(".goods_destail_show").height();
            var contetnheight = $(".content_height").height();//动态内容详情的高度
            var scrollTop = $(window).scrollTop();//距离滚动条顶端的距离
            var content = $('#anchor-judge').find('div');
            var ccon = '<img src="picture/loading.gif" style="margin-top:20px;">';
            var guding = headerheight+goodsheight+parseInt(cainixihuan);
            var biandong = 0;
            if(contetnheight < detailheight){
                biandong = contetnheight;
            }else{
                biandong = detailheight;
            }
            //当滚动条滑动到据底部120px时触发
            if(scrollTop >= guding+biandong){
                if(content.length == 0){
                    ajaxloadcollect('judge');
                }
            }
        });

        function ajaxloadcollect(_type){
            $('#anchor-' + _type).html('<img src="picture/loading.gif" style="margin-top:20px;">');
            $.ajax({
                type: "get",
                url:"{:url('Detail/comment')}",
                data: {act:'detail',type:'list',goods_id:$('#anchor-' + _type).attr("goods-id")},
                dataType: "html",
                success: function(data) {
                    console.log(data);
                    $('#anchor-' + _type).html(data);
                }
            });
        }

        var tel = false;

        function sendReminder(activity_id){
            var goods_id = $("#rush_goods_id").val();
            var phone = $("#tel-number").val();

            //发送
            $.ajax({
                type: "post",
                url: "/system/sendsms.php",
                dataType: "json",
                data: { "act": "sendRushSms","goods_id":goods_id,"activity_id":activity_id,"phone":phone},
                success: function (data) {

                    //清空错误信息
                    $('.reminds-err').html("").hide();
                    //隐藏设置弹窗
                    $('.remind-tip').addClass('hidden');

                    if(data.code == "0000"){
                        location.href = location.href;
                    }else{
                        alert(data.msg);return false;
                    }
                }
            });
        }

        function checkPhone(telNumber){
            var reg = /^1[3|4|5|7|8|9][0-9]\d{8}$/;
            if(telNumber == '' || !reg.test(telNumber)){
                $('.reminds-err').html("请输入正确的手机号").show();
                return false;
            }
            return true;
        }
    </script>

    <script>
        //增加减少购物车
        // add
        function MycountAdd(_this){
            //console.log($(this));
            var goods_store = parseInt($(".goods-store").attr("goods-store"));
            var _numBox = $(_this).parents('.count-box').find('.number-box'),
            _numVal = parseInt(_numBox.val()),
            _subBox = $(_this).parents('.count-box').find('.count-sub'),
            _addBox = $(_this).parents('.count-box').find('.count-add');

            if(_numVal>=1 && _numVal < goods_store){
                _numVal++;
                _numBox.val( _numVal );
                _addBox.removeClass('cl-c');
                if(_numVal>1){
                    _subBox.removeClass('cl-c');
                }
                $(".addcart").attr("goods-number",_numVal);
                return false;
            }else{

                if( _numVal >= goods_store){
                    alert('库存数量不足',function(){
                        _numVal = goods_store;
                        _numBox.val(_numVal);
                        _addBox.removeClass('cl-c');
                        _subBox.addClass('cl-c');
                    });
                }else{
                    _numVal =1 ;
                    _numBox.val( _numVal );
                    _addBox.removeClass('cl-c');
                    _subBox.addClass('cl-c');
                }

                $(".addcart").attr("goods-number",_numVal);
                return false;
            }

        }
        // sub
        function MycountSub(_this){
            var goods_store = parseInt($(".goods-store").attr("goods-store"));
            var _numBox = $(_this).parents('.count-box').find('.number-box'),
            _numVal = parseInt(_numBox.val()),
            _addBox = $(_this).parents('.count-box').find('.count-add'),
            _subBox = $(_this).parents('.count-box').find('.count-sub');

            if(_numVal > goods_store){
                alert('库存数量不足',function(){
                    $(".addcart").attr("goods-number",'1');
                });
                return false;
            }

            if( _numVal > 1){
                _numVal--;
                _numBox.val( _numVal );
                _addBox.removeClass('cl-c');
                _subBox.removeClass('cl-c');
            }else{
                _numVal = 1;
                _numBox.val(_numVal);
                _addBox.removeClass('cl-c');
                _subBox.addClass('cl-c');
            }

            if(_numVal ==1){
                _subBox.addClass('cl-c');
            }

            $(".addcart").attr("goods-number",_numVal);
        }
        // input
        function MyinputChange(_this){
            //console.log($(this).val());
            var goods_store = parseInt($(".goods-store").attr("goods-store"));
            var _val = parseInt( $(_this).val() ),
            _number = $(_this).parents('.delete-box').find('.number-box'),
            _addBox = $(_this).siblings('.count-add'),
            _subBox = $(_this).siblings('.count-sub');

            // 负数和非int型，强制转换为1
            if( isNaN(_val) || _val <= 1 ){
                _subBox.addClass('cl-c');
                _addBox.removeClass('cl-c');
                _val = 1;
            }

            if(_val > goods_store){
                alert('库存数量不足',function(){
                    _val = 1;
                    _addBox.removeClass('cl-c');
                    _subBox.addClass('cl-c');
                    $(_this).val(_val);
                    $(".addcart").attr("goods-number",_val);
                    return false;
                });
            } else{
                _addBox.removeClass('cl-c');
                _subBox.removeClass('cl-c');
            }

            $(_this).val( _val );
            $(".addcart").attr("goods-number",_val);
        }
    </script>

<script type="text/javascript">
    //用户信息
    $(function(){

        //限时抢购信息
        $.ajax({
            type: "post",
            url: "{:url('goodsDetail')}",
            data:{good_id:$("#goodId").val()},
            dataType: "json",
            success: function (data) {
                console.log(data);
                if(data.code == "0"){
                    var goods = data.info;
                    //console.log(11,goods);
                    if(goods.stores && goods.if_presold == 1){
                        $("#www_goods_tags").html("[预售]");
                    }
                    $("#www_goods_name").html(goods.goods_name);
                    //商品定价
                    $("#www_goods_market_price").html("¥" + goods.market_price);

                    $("#www_goods_price").html(goods.price);

                    //运费
                    var post_money_str = '';
                    if(goods.post_free > 0){
                        post_money_str = '满' + goods.post_free + '包邮';
                    }else{
                        post_money_str = '包邮';
                    }
                    $("#www_goods_post_money").html(post_money_str);

                    //销量
                    var goods_sale_str = '';
                    goods_sale_str +='<tr>';
                    goods_sale_str +='<td width="70" class="cl-9">销量</td>';
                    goods_sale_str +='<td class="cl-3">'+ goods.sale_nums+' 件</td>';
                    goods_sale_str +='</tr>';

                    $("#www_good_sale_info").after(goods_sale_str);

                     //库存
                     $("#www_goods_stores").attr("goods-store",goods.stores);
                     var goods_store_str = '';
                     if(goods.stores){
                        if(goods.if_presold == 1){
                            goods_store_str += '<span style="color:#e55454;">预售</span>';
                        }else{
                            goods_store_str = goods.stores;
                        }
                    }else{
                        goods_store_str = '缺货';
                    }
                    $("#www_goods_stores").html(goods_store_str);


                    var rush_remind_str = '';
                    <!-- 加入购物车 -->
                    rush_remind_str += '<div class="mt-20 ta-ct mouseenter-box">';
                    if(goods.stores>0){
                        rush_remind_str += '<label class="fs-18 cl-f bd-1-bl-d bc-bl pd-1030 cp mr-20 fl addcart" style="min-width: 120px;" goods-id="'+goods.goods_id+'" goods-number="1" data-type="1">立即购买</label>';
                        rush_remind_str += '<label class="fs-18 cl-bl-l bd-1-bl-d bc-bl-l pd-1030 cp mr-20 fl pr addcart" goods-id="'+goods.goods_id+'" goods-number="1" data-type="2"><span class="icon-cart-block mr-10 cl-bl pr tp-3 fs-18">&#xe90e;</span>加入购物车</label>';
                    }else{
                        rush_remind_str +='<label class="fs-18 cl-f pd-1030 mr-20 fl bc-dg" style="min-width: 120px;" goods-id="'+goods.goods_id+'" goods-number="0" data-type="add">目前缺货</label>';
                    } 
                    rush_remind_str +='<div class="cl-9 bd-1-a fl pd-0208 cp choose-box collect ';
                    if(goods.is_collect==1){
                        rush_remind_str +='bd-1-bl-d cl-bl-l';
                    }
                    rush_remind_str +='" goods-id="' +goods.goods_id +'">';
                    rush_remind_str +='<span class="';
                    if(goods.is_collect==1){
                        rush_remind_str +='icon-star-block';
                    }else{
                        rush_remind_str +='icon-star-line';
                    }
                    rush_remind_str +=' fs-16 pr tp-2">';
                    if(goods.is_collect==1){
                        rush_remind_str +='&#xe945;';
                    }else{
                        rush_remind_str +='&#xe946';
                    }
                    rush_remind_str +='</span><p>收藏</p>';
                    rush_remind_str +='</div>';
                    rush_remind_str +='<div class="cb"></div>';
                    rush_remind_str +='</div>';

                    $("#rush_goods_id").after(rush_remind_str);
                    if(goods.integral){
                        var integral_str = '';
                        integral_str += '<span class="icon-right-block cl-rd-l mr-2">&#xe934;</span>'
                        integral_str += '<span > 赠送'+ goods.integral +'积分</span>';
                        $("#www_goods_integral").html(integral_str);
                    }

                    if(goods.upper_title){
                        var upper_title_str = '';
                        upper_title_str += '<p class="fs-16 cl-9 ht-50 oh lh-25 mt-10 mb-10" id="">';
                        upper_title_str += goods.upper_title;
                        upper_title_str += '</p>'
                        $("#www_goods_upper_title").html(upper_title_str);
                    }
                }
                    /*//sku多选切换和加入购物车
                    var usable = goods.stores; //产品库存
                    var goods_id = goods.goods_id;
                    //获取当前商品所在的product_id下的全部商品和商品对应的全部sku属性选项
                    var bunch = goods.produce_goods_sku_bunch;

                    var selected_bunch = [];//收集已经被选中的skuid
                    var selected_attr_vaule = [];//收集已经选中属性的名称
                    var build_bunch = {};

                    //重新整理
                    $.each(bunch,function(k,v){
                        build_bunch[k] = sortt(v);
                    });

                    //商品SKU选择和跳转
                    $(".tab-order li").click(function(){
                        var dellp = $("#sku_deelp").val();
                        var new_goods_id = 0;
                        $(this).addClass('on-tab');
                        $(this).siblings().removeClass('on-tab');
                        var sku_detail_id = $(this).attr('data-sku_detail_id');//当前sku的ID
//                        console.log(888,dellp,sku_detail_id);
                        //获取已经选中的状态
                        $.each($(".tab-order li"),function(k,v){
                            if($(this).hasClass("on-tab")){
                                selected_attr_vaule.push($(this).attr('data-name'));
                                selected_bunch.push(parseInt($(this).attr('data-sku_detail_id')));
                            }
                        });

                        selected_bunch.push(parseInt(sku_detail_id));

                        selected_bunch = selected_bunch.filter(function(element,index,self){
                            return self.indexOf(element) == index;//去重
                        });

                        if(dellp == selected_bunch.length){
                            selected_bunch.sort();
                            var sku_str = selected_bunch.join(",");
                            for(var key in build_bunch){
                                if(build_bunch[key] == sku_str){
                                    new_goods_id = key;
                                }
                            }
                        }

                        if(new_goods_id >0){
                            location.href = '//shop249674.bookuu.com/detail.php?id='+new_goods_id;
                        }else{
                            var goods_vs = selected_attr_vaule.join(' + ')
                            alert('您筛选的“'+goods_vs+'”的商品暂时没有，我们正在积极备货');

                            selected_attr_vaule = [];
                            selected_bunch = [];
                            return false;
                        }

                    });

                    //新品推荐
                    var reconmend_str = '';
                    if(goods.new_goods_es){
                        reconmend_str += '<div class="wd-220 fl mouseenter-box scale-box">';

                        reconmend_str += '<div class="mb-20 bd-1-e8">';
                        reconmend_str += '<div class="fs-18 lh-50 bc-f3 ta-ct">新品推荐</div>';

                        var recomend_list = goods.new_goods_list;
                        for (var k = 0; k < recomend_list.length; k++) {
                            reconmend_str += '<div class="ta-ct mg-8 bt-1-e8 mouseenter mouseleave">';
                            reconmend_str += '<div class="scale pd-10 oh">';
                            reconmend_str += '<a class="db square-box one-one bgimg lazyload hidden" data-bgimg="background-image: url(http://bnmppic.bookuu.com/'+ recomend_list[k].pic_address +');" target="_blank" href="//shop249674.bookuu.com/detail.php?id='+ recomend_list[k].goods_id+'"></a>';
                            reconmend_str += '</div>';
                            reconmend_str += '<div class="context">';
                            reconmend_str += '<a class="db ht-36 lh-18 oh mt-5 cl-6 pd-0020" href="//shop249674.bookuu.com/detail.php?id='+ recomend_list[k].goods_id +'" target="_blank">'+ recomend_list[k].goods_name+'</a>';
                            reconmend_str += '<div class="lh-40">';
                            reconmend_str += '<span class="cl-rd-l">¥'+ recomend_list[k].price+'</span>';
                            reconmend_str += '<span class="cl-9">|</span>';
                            reconmend_str += '<del class="fs-12 cl-9">¥'+ recomend_list[k].market_price+'</del>';
                            reconmend_str += '</div>';
                            reconmend_str += '</div>';
                            reconmend_str += '</div>';
                        }

                        reconmend_str += '</div>';

                        reconmend_str += '</div>';

                        $("#www_good_new_reconmed").after(reconmend_str);
                    }else{
                        reconmend_str += goods.default_new_reconmend.html;
                    //                        console.log(111,reconmend_str);
                    $("#www_good_new_reconmed").after(reconmend_str);
                    }

                    $("#www_pc_title").html(goods.pc_title);
                    }*/
            },
            complete: function (){
                    //公共：加入收藏
                    $('.collect').on('click', function(){
                        var _span = $(this).find('span');

                    var goods_id = $(this).attr('goods-id');
                    if( _span.hasClass('icon-star-line') ){
                        $.ajax({
                            type: "post",
                            url:"{:url('collectBook')}",
                            data: {id:goods_id,operate:1},
                            dataType: "json",
                            success: function(data) {
                                //console.log(data);
                                if(parseInt(data.status) == 1){
                                    alert(data.info);

                                    _span.removeClass('icon-star-line').addClass('icon-star-block').html('&#xe945;');
                                    $('.collect').removeClass('bd-1-a cl-9').addClass('bd-1-bl-d cl-bl-l');
                                }else {
                                    alert(data.info);
                                }
                            }
                        });
                    }else{
                        confirm('', '你要取消收藏该商品吗?', '', function(res){
                            if (res) {
                                $.ajax({
                                    type: "post",
                                    url:"{:url('collectBook')}",
                                    data: {id:goods_id,operate:0},
                                    dataType: "json",
                                    success: function(data) {
                                        console.log(data);
                                        if(parseInt(data.status) == 1){
                                            alert(data.info);

                                            _span.removeClass('icon-star-block').addClass('icon-star-line').html('&#xe946;');
                                            $('.collect').removeClass('bd-1-bl-d cl-bl-l').addClass('bd-1-a cl-9');

                                        }else {
                                            alert(data.info);
                                        }
                                    }
                                });
                            }else{
                                _span.removeClass('icon-star-line').addClass('icon-star-block').html('&#xe945;');
                                $('.collect').removeClass('bd-1-a cl-9').addClass('bd-1-bl-d cl-bl-l');
                            }
                        });
                    }

                });



                //公共：加入购物车
                $('.addcart').on('click',function(){
                    var goods_store = parseInt($(".goods-store").attr("goods-store"));
                    var goods_id = $(this).attr('goods-id');
                    var number = $(this).attr('goods-number');
                    var buytype = $(this).attr('data-type');
                    //alert(goods_store);
                    //alert(goods_id);
                    //alert(number);
                    
                    if(buytype == ''){
                        buytype = '2';
                    }
                //alert(buytype);
                if(number<=goods_store){
                    $.ajax({
                        type: "post",
                        url:"{:url('cartOperate')}",
                        data: {id:goods_id,number: typeof(number) == 'undefined' ? 1 :number, referer: window.location.href,type:buytype},
                        dataType: "json",
                        success: function(data) {
                                //console.log(data);
                                if(data.code==1)
                                {
                                    alert(data.info);
                                }
                                if(data.code==0){
                                    window.location.href = data.url;
                                }
                            },error:function(){
                                alert('系统错误');
                            }
                        });
                }else{
                    alert('库存数量不足',function(){
                        $(".number-box").val('1');
                        $(this).attr("goods-number",'1');
                    });
                }
            });



                mouseenterAndTab();
            }
        });
//        */
});
</script>