<!DOCTYPE html>
<html>
{include file="common/index/head.html"}

         <div class="nav-box">
                    <div class="type fl public">
                        <a class="db cl-f title"><span class="icon-type-line cl-f mr-10 pr tp-2">&#xe95d;</span>所有商品分类</a>

                        <!-- 导航 -->
                        <div class="wd-1200 ma pr">
                            <div class="menu-hover public">
                                <!-- 菜单 -->
                                <!-- 公共 菜单 展示页 -->
                                <div class="menu fl mouseenter-box">
                                    {include file="common/index/menu.html"}
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="nav fl">
                        <!--固定导航菜单-->
                        {include file="common/index/lead.html"}
                    </div>
                    <div class="cb"></div>
                </div>
            </div>
        </div>

<div class="section bc-f5">
    <div class="wd-1200 ma">

        <!-- 类型排序 -->
        <div class="tab-box">
            <div class="typesort">
                    <table width="100%" class="mt-5">
                        {if !empty($sid)}
                        <tr>
                            <td width="60">
                                <div id="price" class="sort cp">
                                    <a href="/index/Books/search/sid/{$sid}/type/1" class="fl mr-2">价格</a>
                                    <div class="cb"></div>
                                </div>
                            </td>
                            <td width="60">
                                <div id="sale" class="sort cp">
                                    <a href="/index/Books/search/sid/{$sid}/type/2" class="fl mr-2">销量</a>
                                    <div class="cb"></div>
                                </div>
                            </td>
                            <td width="60">
                                <div id="new" class="sort cp">
                                    <a href="/index/Books/search/sid/{$sid}/type/3" class="fl mr-2">新品</a>
                                    <div class="cb"></div>
                                </div>
                            </td>
                        </tr>
                        {/if}
                    </table>
            </div>

            <!-- 商品列表 -->
            <ul class="search-tab-content mouseenter-box bc-f">
                <li class="clearfix typelist-1 on-tab">

                    <!-- 样式1 商品列表 -->
                    <div class="wd-980 fl scale-box br-1-e8" style="width: 979px;">
                    {if !empty($page)}
                    {foreach $page as $v}
                    <div class="wd-940 pd-1020 bb-1-e8 bc-f mouseenter mouseleave" style="width: 939px;">
                       <div class="wd-180 fl mr-20">
                           <div class="oh scale pd-10">
                               <a target="_blank" class="db square-box one-one bgimg lazyload hidden bd-1-f" data-bgimg="background-image: url(/uploads/{$v.good_pic});" href="/index/Books/detail/bookid/{$v->good_id}"></a>
                           </div>
                        </div>
                        <div class="wd-640 fl" style="width: 640px;">
                            <a class="db fs-16 lh-30 to-hd fw-bd hover" target="_blank" href="/index/Books/detail/bookid/{$v->good_id}">{$v->good_name}</a>
                            <div class="lh-30">
                               <span class="fs-21 cl-rd-l fw-bd mr-20">¥{$v->good_showprice}</span>
                               <del class="cl-9 mr-10">¥{$v->good_price}</del>
                               <label>
                               </label>
                            </div>
                             <div class="lh-30 fs-12">
                               <div class="wd-30p fl to-hd mr-10">
                                   <span class="cl-9">作者：</span>
                                   <p class="hover">{$v->good_author}</p>
                                </div>

                                <div class="wd-30p fl to-hd cl-9 mr-10">
                                   <span class="cl-9">出版社：</span>
                                   <p class="hover">{$v->good_product}</p>
                                </div>
                                <div class="wd-30p fl to-hd cl-9">
                                   <span class="cl-9">出版时间：</span>
                                   <span style="color: #212121;">{:date('Y-m-d',$v->good_time)}</span>
                                </div>
                                <div class="cb"></div>
                            </div>
                            <div class="cl-9 lh-20 ht-40 oh fs-12">{$v->good_introduce}</div>
                            <div class="mt-10 ht-38 lh-35">
                            <span class="cp bc-bl bd-1-bl-d addcart cl-f pd-0610 mr-20" goods-id="{$v->good_id}" goods-number="1" data-type="2"  goods-store="{$v->good_count}">
                                <span class="icon-cart-block mr-5 cl-f pr tp-2">&#xe90e;</span>加入购物车                                 </span>
                                <label class="bc-f cl-9 bd-1-c pd-0610 mr-20 cp choose-box collect " goods-id="{$v->good_id}">
                                   <span class="icon-star-line mr-5 pr tp-1">&#xe946;</span>收藏
                                </label>
                            </div>
                        </div>
                        <div class="cb"></div>
                    </div>
                    {/foreach}
                    {/if}
                    {$page->render()}
            </div>



            <!--新书推荐 等 右侧边栏目-->
            <div class="wd-220 fr">

                <div class="mb-20 scale-box mouseenter-box">
                    <div class="fs-18 lh-60 ta-ct bb-1-e8">新品推荐</div>

                    <div class="ta-ct mg-8 bb-1-e8 mouseenter mouseleave">
                        <div class="oh scale pd-10">
                            <a class="db square-box one-one bgimg lazyload hidden" data-bgimg="background-image: url(http://wdimg3.bookuu.com/goods/14/43/50/3959002.png@!w300q75);" target="_blank" href="//shop162143.bookuu.com/detail.php?id=100991336"></a>
                        </div>
                        <div class="context pd-0020">
                            <a class="db ht-36 lh-18 oh cl-6" target="_blank" href="//shop162143.bookuu.com/detail.php?id=100991336">光鲜宅女</a>
                            <p class="lh-40 mt-5">
                                <span class="cl-rd-l">¥22.05</span>
                                <span class="cl-9">|</span>
                                <del class="fs-12 cl-9">¥35.00</del>
                            </p>
                        </div>
                    </div>

                </div>

            </div>


        </li>
    </ul>
</div>


</div>
</div>


<script>

    //关键字搜索
    $(".tosearch").click(function(){
        var key = $("#searchkey").val();
        alert(key);
        if(key != ''){
            window.location.href = '/index/Books/search/'+'keywords/' + key;
        }
    });

    // 懒加载
    lazyLoading();

    // 菜单
    mouseenterAndTab();

</script>


<!-- 底部 -->
{include file="common/index/footer.html"}
<script>
    $(function(){
            //频道 tab切换
            $(".my_tab").click(function(){
                var tabId = $(this).attr("data-id");
                $(this).addClass('on-click');
                $(this).siblings().removeClass('on-click');

                $("#my_tab_"+tabId).removeClass("dn");
                $("#my_tab_"+tabId).siblings(".my_tab_content").addClass('dn');
            });
        });

        // 懒加载
        lazyLoading();

        // 菜单
        mouseenterAndTab();
        
        $(function(){

            //公共：加入收藏
            $('.collect').on('click', function(){
                        var _span = $(this).find('span');

                    var goods_id = $(this).attr('goods-id');
                    if( _span.hasClass('icon-star-line') ){
                        $.ajax({
                            type: "post",
                            url:"{:url('collectBook')}",
                            data: {id:goods_id,operate:1},
                            dataType: "json",
                            success: function(data) {
                                //console.log(data);
                                if(parseInt(data.status) == 1){
                                    alert(data.info);

                                    _span.removeClass('icon-star-line').addClass('icon-star-block').html('&#xe945;');
                                    $('.collect').removeClass('bd-1-a cl-9').addClass('bd-1-bl-d cl-bl-l');
                                }else {
                                    alert(data.info);
                                }
                            }
                        });
                    }else{
                        confirm('', '你要取消收藏该商品吗?', '', function(res){
                            if (res) {
                                $.ajax({
                                    type: "post",
                                    url:"{:url('collectBook')}",
                                    data: {id:goods_id,operate:0},
                                    dataType: "json",
                                    success: function(data) {
                                        console.log(data);
                                        if(parseInt(data.status) == 1){
                                            alert(data.info);

                                            _span.removeClass('icon-star-block').addClass('icon-star-line').html('&#xe946;');
                                            $('.collect').removeClass('bd-1-bl-d cl-bl-l').addClass('bd-1-a cl-9');

                                        }else {
                                            alert(data.info);
                                        }
                                    }
                                });
                            }else{
                                _span.removeClass('icon-star-line').addClass('icon-star-block').html('&#xe945;');
                                $('.collect').removeClass('bd-1-a cl-9').addClass('bd-1-bl-d cl-bl-l');
                            }
                        });
                    }

                });



                //公共：加入购物车
                $('.addcart').on('click',function(){
                    var goods_store = $(this).attr("goods-store");
                    var goods_id = $(this).attr('goods-id');
                    var number = $(this).attr('goods-number');
                    var buytype = $(this).attr('data-type');
                   // alert(goods_store);
                    //alert(goods_id);
                    //alert(number);
                //alert(buytype);
                if(number<=goods_store){
                    $.ajax({
                        type: "post",
                        url:"{:url('cartOperate')}",
                        data: {id:goods_id,number: typeof(number) == 'undefined' ? 1 :number, referer: window.location.href,type:buytype},
                        dataType: "json",
                        success: function(data) {
                                //console.log(data);
                                if(data.code==1)
                                {
                                    alert(data.info);
                                }
                                if(data.code==0){
                                    window.location.href = data.url;
                                }
                            },error:function(){
                                alert('系统错误');
                            }
                        });
                }else{
                    alert('库存数量不足',function(){
                        $(".number-box").val('1');
                        $(this).attr("goods-number",'1');
                    });
                }
            });
        });
    </script>
